<% content_for :extra_js do %>
  $('form#new_user_address, form#edit_user_address').validate({
    rules: {
      'user_address[zone_id]': {
        required: true
      }
    }
  });
<% end %>

<%= form_for(@user_address) do |f| %>
  <% if @user_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_address.errors.count, "error") %> no permite crear esta dirección:</h2>

      <ul>
      <% @user_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :address, 'Dirección' %><br>
    <%= f.text_field :address, required: true, minlength: 10 %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, required: true %>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="field">
        <%= f.label :fname, 'Nombre' %><br>
        <%= f.text_field :fname, required: true %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="field">
        <%= f.label :lname, 'Apellido' %><br>
        <%= f.text_field :lname, required: true %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :company, 'Compañía' %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :zip_code, 'Codigo Postal' %><br>
    <%= f.text_field :zip_code, required: true %>
  </div>
  <div class="field">
    <%= f.label :city, 'Ciudad/Barrio' %><br>
    <%= f.text_field :city, required: true %>
  </div>
  <div class="field">
    <%= f.label :zone_id, 'Provincia' %><br>
    <%= f.select :zone_id, options_from_collection_for_select(Zone.roots, :id, :title, @user_address.zone_id), prompt: 'Seleccionar' %>
  </div>
  <div class="field">
    <%= f.label :mobile, 'Teléfono Celular' %><br>
    <%= f.telephone_field :mobile, required: true %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar dirección' %>
  </div>
<% end %>
