<div class="admin-navigation">
	<div class="btn-group">
		<% if admin_signed_in? %>
			<a href="#panel_navigation" class="visible-xs" data-util="class" data-toggle="in">
				<i class="fa fa-bars fa-fw" aria-hidden="true"></i>
			</a>
		<% end %>
	</div>
	<div class="btn-group">
		<% if admin_signed_in? %>
			<%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }, aria_haspopup: 'true', aria_expanded: false do -%>
				<%= current_admin.email %> &nbsp; <i class="fa fa-user" aria-hidden="true"></i>
			<% end %>
			<ul class="dropdown-menu">
				<li>
					<%= link_to root_path do %>
						<i class="fa fa-home fa-fw" aria-hidden="true"></i> Home
					<% end %>
				</li>
				<li>
					<%= link_to edit_admin_registration_path do %>
						<i class="fa fa-edit fa-fw" aria-hidden="true"></i> Editar
					<% end %>
				</li>
		    <li>
					<%= link_to destroy_admin_session_path, method: :delete do %>
						<i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Salir
					<% end %>
				</li>
			</ul>
		<% else %>
			<%= link_to panel_path do %>
				<i class="fa fa-sign-in" aria-hidden="true"></i> Ingresar
			<% end %>
		<% end %>
	</div>
</div>

<% content_for :panel_navigation do %>
	<ul class="nav nav-pills nav-stacked">
	  <li role="presentation" class="<%= panel_nav_class(:panel) %>">
	  	<%= link_to panel_path do %>
	  		<i class="fa fa-user fa-fw" aria-hidden="true"></i> Panel
	  	<% end %>
	  </li>
	  <li role="presentation" class="<%= panel_nav_class(edit_admin_registration_path) %>">
	  	<%= link_to edit_admin_registration_path do %>
	  		<i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Editar Admin
	  	<% end %>
	  </li>
	  <li role="presentation" class="<%= panel_nav_class(:articles) %>">
	  	<%= link_to articles_path(:about) do %>
	  		<i class="fa fa-sticky-note fa-fw" aria-hidden="true"></i> Artículos
	  	<% end %>
	  </li>
	  <li role="presentation" class="<%= panel_nav_class(:users) %>">
	  	<%= link_to users_path do %>
	  		<i class="fa fa-users fa-fw" aria-hidden="true"></i> Usuarios
	  	<% end %>
	  </li>
	  <li role="presentation" class="<%= panel_nav_class(:zones) %>">
	  	<%= link_to zones_path do %>
	  		<i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> Zonas
	  	<% end %>
	  </li>
	  <li role="presentation" class="<%= panel_nav_class(:categories) %>">
	  	<%= link_to categories_path do %>
	  		<i class="fa fa-list fa-fw" aria-hidden="true"></i> Categorias
	  	<% end %>
	  </li>
	  <li role="presentation" class="<%= panel_nav_class(:products) %>">
	  	<%= link_to products_path do %>
	  		<i class="fa fa-cubes fa-fw" aria-hidden="true"></i> Productos
	  	<% end %>
	  </li>
	  <li role="presentation" class="<%= panel_nav_class(:payments) %>">
	  	<%= link_to payments_path do %>
	  		<i class="fa fa-money fa-fw" aria-hidden="true"></i> Pagos
	  	<% end %>
	  </li>
	  <li role="presentation">
	  	<%= link_to destroy_admin_session_path, class: 'link-danger', method: :delete do %>
	  		<i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Cerrar sesión
	  	<% end %>
	  </li>
	</ul>
<% end %>