<% if @article.shape_has_text? %>
  <%= tinymce_init(200) %>
<% end %>

<% content_for :extra_js do %>
  $('#article_form').validate();
  Utils.selectpicker();
  Utils.addOptionToSelect();
<% end %>

<%= form_for(@article, html: {id: 'article_form'}) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :shape %>
  <% if @article.shape_has_title? %>
    <div class="field">
      <%= f.text_field :title, required: true, placeholder: 'Título' %>
    </div>
  <% end %>
  <% if @article.shape_has_subtitle? %>
    <div class="field">
      <%= f.text_field :subtitle, required: true, placeholder: 'Subtítulo' %>
    </div>
  <% end %>
  <% if @article.shape_has_description? %>
    <div class="field">
      <%= f.text_field :description, required: true, placeholder: 'Descripción' %>
    </div>
  <% end %>
  <% if @article.shape_has_text? %>
    <div class="field">
      <%= f.text_area :text, placeholder: 'Texto', rows: 4, minlength: 15, class: 'tinymce' %>
    </div>
  <% end %>
  <% if @article.shape_has_link? %>
    <div class="field">
      <%= f.label :link_title, 'Texto del botón:' %>
      <%= f.text_field :link_title, required: true, placeholder: 'Título del link' %>
      <%= f.label :link, 'Link:', style: 'margin-top:5px;' %>
      <%= f.select :link, options_for_select(article_link_options(@article.link), @article.link), { prompt: 'Linkear a…' }, class: 'selectpicker' %>
      <%= text_field_tag 'new_link', nil, class: 'add_option_to_select', data: { select: '#article_link' }, placeholder: 'Otro...' %>
      <small>Si el link no aparece en la lista, ingresalo en el campo de texto y tocá enter para agregarlo.</small>
    </div>
  <% end %>
  <% if @article.shape_has_image? %>
    <div class="field">
      <%= f.file_field :image, accept: 'image/*', required: !@article.image.present? %>
      <% if @article.image.present? %>
        <small>Ya tienes una imágen en esta publicación</small>
      <% end %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
