<% content_for :panel_subtitle, 'Artículos' %>

<script type="text/javascript">
<% content_for :extra_js do %>
  var $sortable = $('tbody');
  $sortable.sortable({ update: function() {
    var sortable = $sortable.sortable('toArray');
    var data = { article: {} };
    data.article.ids = [];
    data.article.positions = [];
    sortable.forEach(function(s, i) {
      data.article.ids.push(Number(s.replace('article-', '')));
      data.article.positions.push(i+1);
    });
    $.ajax({ url: '/articles/', dataType: 'json', type: 'PUT', data: data })
    .done(function() { Alerts.success('Se cambio la posición del artículo con éxito'); })
    .fail(function() { Alerts.danger('Ocurrió un error al cambiar la posición del artículo'); });
  }, placeholder: 'warning' });
<% end %>
</script>

<div class="btn-group pull-right btn-group-xs" style="margin-top: -30px;">
  <%= link_to new_article_path(@shape), title: 'Nuevo', class: 'btn btn-warning tooltip-trigger' do %>
    <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
  <% end %>
</div>

<%= render 'tabs' %>

<% unless @articles.present? %>
  No hay ningún articulo para <%= Article.shape_sp(@shape) %>
<% else %>
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
      <tbody>
        <% @articles.each_with_index do |article, i| %>
          <tr class="<%= i == 0 && [:about].include?(article.shape.to_sym) ? 'success' : 'info' %>" id="article-<%= article.id %>">
            <% if Article.shape_has?(:image, @shape) %>
              <td>
                <%= link_to article do %>
                  <%= image_tag article.image.url(:thumb), style: 'height: 24px; width: auto; margin: -4px 0 -2px;' %>
                <% end %>
              </td>
            <% end %>
            <td>
              <%= link_to article, style: 'color:inherit;' do %>
                <b style="margin: 0 10px;"><%= article.title %></b>
              <% end %>
            </td>
            <!--td><%= article.subtitle %></td-->
            <td><%= article.link %></td>
            <!--td><%= article.position %></td-->
            <td class="text-right">
              <%= link_to edit_article_path(article), title: 'Editar', class: 'tooltip-trigger link-success' do %>
                <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
              <% end %>
              <%= link_to article, method: :delete, data: { confirm: '¿Seguro?' }, title: 'Eliminar', class: 'link-danger tooltip-trigger' do %>
                <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
