<% content_for :panel_subtitle, 'Artículos' %>

<% content_for :extra_js do %>
  <% if Article.shape_is_sortable? @shape %>
    var $sortable = $('tbody');
    $sortable.sortable({ update: function() {
      var sortable = $sortable.sortable('toArray');
      var data = { article: {} };
      data.article.ids = [];
      data.article.positions = [];
      sortable.forEach(function(s, i) {
        data.article.ids.push(Number(s.replace('article-', '')));
        data.article.positions.push(i+1);
      });
      $.ajax({ url: '/articles/', dataType: 'json', type: 'PUT', data: data })
      .done(function() { Alerts.success('Se cambio la posición del artículo con éxito'); })
      .fail(function() { Alerts.danger('Ocurrió un error al cambiar la posición del artículo'); });
    }, placeholder: 'warning' });
  <% end %>
<% end %>

<div class="btn-group pull-right btn-group-xs" style="margin-top: -30px;">
  <%= link_to new_article_path(@shape), title: 'Nuevo', class: 'btn btn-warning tooltip-trigger' do %>
    <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
  <% end %>
</div>

<%= render 'tabs' %>

<% unless @articles.present? %>
  No hay ningún articulo para <%= Article.shape_sp(@shape) %>
<% else %>
  <% if @shape == :news && @articles.count > 5 %>
    <div style="margin: -15px 0 10px;"><small>Los items marcados en verde aparecen en el carousel de noticias de la home</small></div>
  <% end %>
  <% if @shape == :about && @articles.count > 1 %>
    <div style="margin: -15px 0 10px;"><small>El item marcado en verde es el único que será visible en la sección "La empresa"</small></div>
  <% end %>
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
      <tbody class="highlited-<%= Article.shape_highlited(@shape) %>">
        <% @articles.each_with_index do |article, i| %>
          <tr id="article-<%= article.id %>">
            <% if Article.shape_has?(:image, @shape) %>
              <td>
                <%= link_to article do %>
                  <%= image_tag article.image.url(:thumb), style: 'height: 24px; width: auto; margin: -4px 0 -2px;' %>
                <% end %>
              </td>
            <% end %>
            <td style="padding-left: 10px;">
              <%= link_to article, style: 'color:inherit;' do %>
                <b><%= article.title %></b>
              <% end %>
            </td>
            <td class="text-right" style="padding-right: 10px;">
              <%= link_to edit_article_path(article), title: 'Editar', class: 'tooltip-trigger link-success' do %>
                <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
              <% end %>
              <%= link_to article, method: :delete, data: { confirm: '¿Seguro?' }, title: 'Eliminar', class: 'link-danger tooltip-trigger' do %>
                <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
