<% content_for :panel_subtitle, 'Artículo ' + @article.shape_sp %>

<div class="btn-group pull-right btn-group-xs" style="margin-top: -30px;">
  <%= link_to edit_article_path(@article), title: 'Editar', class: 'btn btn-info tooltip-trigger' do %>
    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
  <% end %>
  <%= link_to @article, method: :delete, data: { confirm: '¿Seguro?' }, title: 'Eliminar', class: 'btn btn-danger tooltip-trigger' do %>
    <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
  <% end %>
  <%= link_to articles_path(@article.shape.to_sym), title: 'Volver al listado', class: 'btn btn-warning tooltip-trigger' do %>
    <i class="fa fa-list fa-fw" aria-hidden="true"></i>
  <% end %>
</div>

<%= render 'tabs' %>

<% if @article.shape_has_image? %>
  <p>
    <strong>Image:</strong>
    <%= @article.image %>
  </p>
<% end %>

<% if @article.shape_has_title? %>
  <p>
    <h3 class="text-center"><%= @article.title %></h3>
  </p>
<% end %>

<% if @article.shape_has_subtitle? %>
  <p>
    <strong>Subtitle:</strong>
    <%= @article.subtitle %>
  </p>
<% end %>

<% if @article.shape_has_description? %>
  <p>
    <strong>Description:</strong>
    <%= @article.description %>
  </p>
<% end %>

<% if @article.shape_has_text? %>
  <p class="well">
    <%= @article.text.html_safe %>
  </p>
<% end %>

<% if @article.shape_has_link? %>
  <p>
    <%= link_to @article.link_title, @article.link, class: 'btn btn-sm btn-primary' %>
  </p>
<% end %>