<% content_for :extra_js do %>
  Pages.carousel();	
<% end %>

<div class="slider owl-carousel">
  <% Article.showcase.order(position: :asc).each do |article| %>
    <div class="item">
      <img class="desktop" src="<%= asset_path article.image(:big) %>" alt="<%= article.title + ' ' + article.subtitle %>">
      <img class="mobile" src="<%= asset_path article.image(:medium) %>" alt="<%= article.title + ' ' + article.subtitle %>">
      <div class="info-slider">
        <h2>
          <%= article.title.upcase %><br>
          <span><%= article.subtitle.upcase %></span>
        </h2>
        <p style="max-width:500px;"><%= article.description %></p>
        <a href="<%= article.link %>" class="button"><%= article.link_title %></a>
      </div>
    </div>
  <% end %>
</div>

<% if false %>
<div class="item"> <img class="desktop" src="<%= asset_path 'slider/Slider_1.jpg' %>" alt="Slider 1"> <img class="mobile" src="<%= asset_path 'slider/Slider_1_mobile.jpg' %>" alt="Slider 1 Mobile">
  <div class="info-slider">
    <h2>ELEGÍ TU<br>
      <span>equipo</span></h2>
    <p>Preparate para vivir la experiencia<br>
      INVERTER. Máximo Confort y máximo ahorro.</p>
    <div class="cucarda">3 Años<br>
      <span>de garantía</span></div>
    <a href="#" class="button">ver productos</a> </div>
</div>
<% end %>