<div class="admin-navigation">
	<div class="btn-group">
	</div>
	<div class="btn-group">
		<% if user_signed_in? %>
			<%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }, aria_haspopup: 'true', aria_expanded: false do -%>
				<%= current_user.email %> &nbsp; <i class="fa fa-user" aria-hidden="true"></i>
			<% end %>
			<ul class="dropdown-menu">
				<li>
					<%= link_to edit_user_registration_path do %>
						<i class="fa fa-edit fa-fw" aria-hidden="true"></i> Editar
					<% end %>
				</li>
		    <li>
					<%= link_to destroy_user_session_path, method: :delete do %>
						<i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Salir
					<% end %>
				</li>
			</ul>
		<% else %>
			<%= link_to new_user_session_path do %>
				<i class="fa fa-sign-in" aria-hidden="true"></i> Ingresar
			<% end %>
		<% end %>
	</div>
</div>