<% content_for :panel_subtitle, 'Usuario' %>

<div class="btn-group pull-right btn-group-xs" style="margin-top: -60px;">
  <%= link_to users_path, title: 'Listado', class: 'btn btn-success tooltip-trigger' do %>
    <i class="fa fa-list fa-fw" aria-hidden="true"></i>
  <% end %>
</div>
<div class="btn-group pull-right btn-group-xs" style="margin-top: -30px;">
  <%= link_to edit_user_path(@user), title: 'Editar', class: 'tooltip-trigger btn btn-success' do %>
    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
  <% end %>
  <%= link_to @user, title: 'Eliminar', class: 'tooltip-trigger btn btn-danger', method: 'delete', data: { confirm: '¿Seguro?' } do %>
    <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
  <% end %>
</div>

<h3 style="margin-top:0;"><%= @user.name %></h3>

<div id="tabs-container" style="margin-top: 20px;">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#data_tab" aria-controls="data_tab" role="tab" data-toggle="tab">Datos</a>
    </li>
    <% if @user.addresses.present? %>
      <li role="presentation">
        <a href="#addresses_tab" aria-controls="addresses_tab" role="tab" data-toggle="tab">Direcciones</a>
      </li>
    <% end %>
    <% if @cards.present? %>
      <li role="presentation">
        <a href="#cards_tab" aria-controls="cards_tab" role="tab" data-toggle="tab">Tarjetas</a>
      </li>
    <% end %>
    <% if @user.reset_password_sent_at.present? && @user.reset_password_sent_at > @user.current_sign_in_at %>
      <li role="presentation">
        <a href="#reports_tab" aria-controls="reports_tab" role="tab" data-toggle="tab">Reportes</a>
      </li>
    <% end %>
    <% if @user.payments.present? %>
      <li role="presentation">
        <a href="#payments_tab" aria-controls="payments_tab" role="tab" data-toggle="tab">
          Compras <span class="badge"><%= @user.payments.count %></span>
        </a>
      </li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="data_tab">
      <div class="well">
        <p>
          <strong>Nombre:</strong>
          <%= @user.name %><br>
          <strong>Email:</strong>
          <%= @user.email %><br>
          <% if @user.addresses.present? %>
            <strong>Dirección principal:</strong>
            <%= @user.addresses.first.address %><br>
          <% end %>
          <strong>Ultima conexión:</strong>
          <%= @user.current_sign_in_at.strftime('%d de %h de %Y a las %r') %><br>
          <strong>Desde IP:</strong>
          <%= @user.current_sign_in_ip %>
        </p>
      </div>
    </div>
    <% if @user.addresses.present? %>
      <div role="tabpanel" class="tab-pane" id="addresses_tab">
        <div class="panel-group" role="tablist" id="group-root" style="margin-top:10px;">
          <% @user.addresses.each do |address| %>
            <%= render 'address', address: address %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @cards.present? %>
      <div role="tabpanel" class="tab-pane" id="cards_tab">
        <div class="panel-group" role="tablist" id="group-root" style="margin-top:10px;">
          <% @cards.each do |card| %>
            <div class="panel panel-success">
              <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                  <%= image_tag card['payment_method']['secure_thumbnail'], style: 'height: 17px;margin-right: 2px;' %>
                  <%= card['payment_method']['name'].upcase %> terminada en <%= card['last_four_digits'] %>
                </h4>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @user.reset_password_sent_at.present? && @user.reset_password_sent_at > @user.current_sign_in_at %>
      <div role="tabpanel" class="tab-pane" id="reports_tab">
        <div class="well">
          <p>
            <strong>El usuario reportó olvidada su clave el:</strong><br>
            <%= @user.reset_password_sent_at.strftime('%d de %h de %Y a las %r') %><br>
            <br>
            Las instrucciones para recuperar la cuenta fueron enviadas a:<br>
            <%= link_to @user.email, 'mailto:' + @user.email %><br>
          </p>
        </div>
      </div>
    <% end %>
    <% if @user.payments.present? %>
      <% content_for :extra_js do %>
        $('#payments_tab tbody tr').click(function(e) {
          e.preventDefault();
          window.location.href = $('#link_payment_' + $(this).data('id')).attr('href');
        });
        $('#payments_tab tbody a').click(function(e) {
          e.stopPropagation();
        });
      <% end %>
      <div role="tabpanel" class="tab-pane" id="payments_tab">
        <div class="table-responsive">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Estado</th>
                <% if false %>
                  <th>Cuotas</th>
                <% end %>
                <th>Medio de pago</th>
                <th>Importe</th>
                <th>Fecha</th>
              </tr>
            </thead>

            <tbody>
              <% @user.payments.order(updated_at: :desc).each do |payment| %>
                <tr style="cursor:pointer;" data-id="<%= payment.id %>" class="<%= { approved: 'success', in_process: 'info', rejected: 'danger' }[payment.status.try(:to_sym)] || 'danger' %>">
                  <td>
                    <%= link_to payment, id: 'link_payment_' + payment.id.to_s do %>
                      <%= image_tag payment.products.first.image, style: 'height: 24px; width: auto; margin: -4px 0 -2px;' %>
                    <% end %>
                  </td>
                  <td><%= payment.friendly_status %></td>
                  <% if false %>
                    <td><%= payment.installments %></td>
                  <% end %>
                  <td><%= payment.payment_method_id.upcase rescue nil %></td>
                  <td><b><%= payment.transaction_amount.to_s(:currency, unit: '$ ', separator: ",", delimiter: ".") %></b></td>
                  <td><%= payment.created_at.strftime('%d/%m/%Y') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>