<% content_for :body_class do %>
	aria
<% end %>

<% content_for :extra_js do %>
  $('.owl-carousel').owlCarousel({
    loop:true,
    items:1,
    margin:0,
    nav:true,
    dots:true,
    responsive:{
        0:{ items:1}
    }
  });	
<% end %>

<div class="slider owl-carousel">
  <div class="item"> <img class="desktop" src="<%= asset_path 'slider/Slider_1.jpg' %>" alt="Slider 1"> <img class="mobile" src="<%= asset_path 'slider/Slider_1_mobile.jpg' %>" alt="Slider 1 Mobile">
    <div class="info-slider">
      <h2>ELEGÍ TU<br>
        <span>equipo</span></h2>
      <p>Preparate para vivir la experiencia<br>
        INVERTER. Máximo Confort y máximo ahorro.</p>
      <div class="cucarda">3 Años<br>
        <span>de garantía</span></div>
      <a href="#" class="button">ver productos</a> </div>
  </div>
  <div class="item"> <img class="desktop" src="<%= asset_path 'slider/Slider_2.jpg' %>" alt="Slider 2"> <img class="mobile" src="<%= asset_path 'slider/Slider_2_mobile.jpg' %>" alt="Slider 2 Mobile">
    <div class="info-slider">
      <h2>EXPERTOS<br>
        <span>en INSTALACIÓN Y MANTENIENTO</span></h2>
      <p>Te asesoramos para que tengas la mejor experiencia, optimizando el uso de espacios según el cliente.</p>
      <a href="#" class="button">ver productos</a> </div>
  </div>
</div>
<div class="content">
  <div class="content-info">
    <section class="aria">
      <div class="img-top"> <img src="<%= asset_path 'aria/la-empresa.jpg' %>" alt="Aria La Empresa"> </div>
      <h1>La Empresa</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
      <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="contacto.html">contactanos</a> </section>
    <div class="partner-bottom">
      <div class="partner"><img src="<%= asset_path 'partner/carrier.jpg' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/toshiba.jpg' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/midea.jpg' %>" alt=""></div>
    </div>
    <div class="socialmedia-bottom">
      <div class="facebook"> <a href="http://www.facebook.com" target="_blank">Facebook</a> </div>
      <div class="twitter"> <a href="http://www.twitter.com" target="_blank">Twitterk</a> </div>
      <div class="youtube"> <a href="http://www.youtube.com" target="_blank">Youtube</a> </div>
    </div>
  </div>
</div>