<% content_for :body_class, 'aria' %>

<%= render 'partials/carousel' %>
<div class="content">
  <div class="content-info">
    <section class="aria">
      <div class="img-top"> <img src="<%= asset_path 'aria/la-empresa.jpg' %>" alt="Terme La Empresa"> </div>
      <h1><%= @article.title %></h1>
      <p><%= @article.text.html_safe %></p>
      <a href="<%= @article.link %>"><%= @article.link_title %></a> </section>
    <div class="partner-bottom">
      <div class="partner"><img src="<%= asset_path 'partner/carrier.jpg' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/toshiba.jpg' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/midea.jpg' %>" alt=""></div>
    </div>
    <%= render 'partials/social_media' %>
  </div>
</div>