<% content_for :body_class, 'carrito' %>

<% content_for :extra_js do %>
  $('#cartCheckout2').click(function(e) {
    e.preventDefault();
    $('#cartCheckout').click();
  });
<% end %>

<div class="slider">
  <div><img src="<%= asset_path 'imgs_top/img_catalogo.jpg' %>" alt="Catálogo de Productos"></div>
</div>
<div class="content">
  <div class="content-info">
    <div class="breadcrumbs">
      <ul>
        <li><a href="<%= root_path %>">Home</a></li>
        <li>Carrito</li>
      </ul>
    </div>
    <section class="cart">
      <div class="pasos-checkout">
        <h1><span>1</span> Carrito</h1>
        <h2><a href="<%= checkout_page_path %>" id="cartCheckout2" style="color:inherit;"><span>2</span> Checkout</a></h2>
      </div>
      <div class="col-left">
        <form>
          <div class="tabla-product">
            <table class="carrito-tabla" id="cartTable">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Producto</th>
                  <th class="right">Precio</th>
                  <th class="center">Cantidad</th>
                  <th class="right">Subtotal</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <% if @cart[:products].present? %>
                  <% @cart[:products].each do |product| %>
                    <%= render 'products/cart', product: product %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
            <% if false %>
              <div class="cupon-btn">
                <div class="cupon-descuento">
                  <label>Tenés un Cupon?</label>
                  <input type="text" placeholder="Insertar Código">
                </div>
                <div class="btn-actualizar">
                  <input type="submit" value="Actualizar Carrito">
                  <a href="#" class="comprar">o seguir comprando</a>
                </div>
              </div>
            <% end %>
          </div>
        </form>
      </div>
      <div class="col-right">
        <h2>REVISA TU ORDEN</h2>
        <div class="resumen">
          <div class="label items">tu carrito</div>
          <div class="item right" id="cartItems"><%= pluralize(@cart[:count], 'item') %></div>
          <div class="label totales">TOTAL</div>
          <div class="total right" id="cartTotal"><%= @cart[:total].to_s(:currency, unit: '$ ', separator: ',', delimiter: '.') %></div>
        </div>
        <div class="action">
          <a href="<%= checkout_page_path %>" class="checkout" id="cartCheckout"> CHECKOUT </a>
        </div>
      </div>
    </section>
    <div class="socialmedia-bottom">
      <div class="facebook"> <a href="http://www.facebook.com" target="_blank">Facebook</a> </div>
      <div class="twitter"> <a href="http://www.twitter.com" target="_blank">Twitterk</a> </div>
      <div class="youtube"> <a href="http://www.youtube.com" target="_blank">Youtube</a> </div>
    </div>
  </div>
</div>