<% content_for :body_class, 'catalogo' %>

<div class="slider">
  <div><img src="<%= asset_path 'imgs_top/img_catalogo.jpg' %>" alt="Catálogo de Productos"></div>
</div>
<div class="content">
  <div class="content-info">
    <div class="breadcrumbs">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Productos y Servicios</a></li>
        <li><a href="">Equipos</a></li>
        <li>Comercial</li>
      </ul>
    </div>
    <section>
      <div class="page-title">
        <h1>Titulo de la Sección</h1>
      </div>
      <div class="filtros">
        <div class="ordenar">
          <label >Ordenar por</label>
          <select class="orden">
            <option>Menor precio</option>
            <option>Mayor precio</option>
            <option>Más relevantes</option>
          </select>
        </div>
        <div class="cantidad">
          <label >Mostrar</label>
          <select class="cantidades">
            <option>12</option>
            <option>24</option>
            <option>36</option>
          </select>
          <span>Por Página</span> </div>
        <div class="paginador">
          <label>Página</label>
          <ul class="paginadores">
            <li class="prev"><span>prev</span></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="next"><span>next</span></li>
          </ul>
        </div>
      </div>
      <div class="product-grid-col4">
        <ul>
          <li>
            <div class="caja-producto">
              <div class="cucarda oferta"> <span class="triangulo"></span> <span class="txt">Oferta</span> </div>
              <div class="img-product"> <a href="producto.html" title="Producto 1"> <img src="<%= asset_path 'productos/product-1.jpg' %>" alt="Producto 1" title="Producto 1"> </a> </div>
              <div class="producto-info">
                <div class="tipo-product">Split Piso Techo</div>
                <div class="nombre-product"> <a href="producto.html"> CARRIER 53ERQ ELITE – R410A ERQ ELITE – R410A </a> </div>
                <div class="precio-product">US$ 2.458,27</div>
              </div>
            </div>
          </li>
          <li>
            <div class="caja-producto">
              <div class="cucarda"> <span class="triangulo"></span> <span class="txt">Nuevo</span> </div>
              <div class="img-product"> <a href="producto.html" title="Producto 1"> <img src="<%= asset_path 'productos/product-2.jpg' %>" alt="Producto 1" title="Producto 1"> </a> </div>
              <div class="producto-info">
                <div class="tipo-product">Split Piso Techo</div>
                <div class="nombre-product"> <a href="producto.html"> CARRIER 53ERQ ELITE – R410A </a> </div>
                <div class="precio-product">US$ 2.458,27</div>
              </div>
            </div>
          </li>
          <li>
            <div class="caja-producto">
              <div class="img-product"> <a href="producto.html" title="Producto 3"> <img src="<%= asset_path 'productos/product-3.jpg' %>" alt="Producto 3" title="Producto 3"> </a> </div>
              <div class="producto-info">
                <div class="tipo-product">Split Piso Techo</div>
                <div class="nombre-product"> <a href="producto.html"> CARRIER 53ERQ ELITE – R410A ERQ ELITE – R410A </a> </div>
                <div class="precio-product">US$ 2.458,27</div>
              </div>
            </div>
          </li>
          <li>
            <div class="caja-producto">
              <div class="img-product"> <a href="producto.html" title="Producto 4"> <img src="<%= asset_path 'productos/product-4.jpg' %>" alt="Producto 4" title="Producto 4"> </a> </div>
              <div class="producto-info">
                <div class="tipo-product">Split Piso Techo</div>
                <div class="nombre-product"> <a href="producto.html"> CARRIER 53ERQ ELITE – R410A ERQ ELITE – R410A </a> </div>
                <div class="precio-product">US$ 2.458,27</div>
              </div>
            </div>
          </li>
          <li>
            <div class="caja-producto">
              <div class="cucarda oferta"> <span class="triangulo"></span> <span class="txt">Oferta</span> </div>
              <div class="img-product"> <a href="producto.html" title="Producto 1"> <img src="<%= asset_path 'productos/product-1.jpg' %>" alt="Producto 1" title="Producto 1"> </a> </div>
              <div class="producto-info">
                <div class="tipo-product">Split Piso Techo</div>
                <div class="nombre-product"> <a href="producto.html"> CARRIER 53ERQ ELITE – R410A ERQ ELITE – R410A </a> </div>
                <div class="precio-product">US$ 2.458,27</div>
              </div>
            </div>
          </li>
          <li>
            <div class="caja-producto">
              <div class="cucarda"> <span class="triangulo"></span> <span class="txt">Nuevo</span> </div>
              <div class="img-product"> <a href="producto.html" title="Producto 1"> <img src="<%= asset_path 'productos/product-2.jpg' %>" alt="Producto 1" title="Producto 1"> </a> </div>
              <div class="producto-info">
                <div class="tipo-product">Split Piso Techo</div>
                <div class="nombre-product"> <a href="producto.html"> CARRIER 53ERQ ELITE – R410A </a> </div>
                <div class="precio-product">US$ 2.458,27</div>
              </div>
            </div>
          </li>
          <li>
            <div class="caja-producto">
              <div class="img-product"> <a href="producto.html" title="Producto 3"> <img src="<%= asset_path 'productos/product-3.jpg' %>" alt="Producto 3" title="Producto 3"> </a> </div>
              <div class="producto-info">
                <div class="tipo-product">Split Piso Techo</div>
                <div class="nombre-product"> <a href="producto.html"> CARRIER 53ERQ ELITE – R410A ERQ ELITE – R410A </a> </div>
                <div class="precio-product">US$ 2.458,27</div>
              </div>
            </div>
          </li>
          <li>
            <div class="caja-producto">
              <div class="img-product"> <a href="producto.html" title="Producto 4"> <img src="<%= asset_path 'productos/product-4.jpg' %>" alt="Producto 4" title="Producto 4"> </a> </div>
              <div class="producto-info">
                <div class="tipo-product">Split Piso Techo</div>
                <div class="nombre-product"> <a href="producto.html"> CARRIER 53ERQ ELITE – R410A ERQ ELITE – R410A </a> </div>
                <div class="precio-product">US$ 2.458,27</div>
              </div>
            </div>
          </li>
          <li>
            <div class="caja-producto">
              <div class="cucarda oferta"> <span class="triangulo"></span> <span class="txt">Oferta</span> </div>
              <div class="img-product"> <a href="#" title="Producto 1"> <img src="<%= asset_path 'productos/product-1.jpg' %>" alt="Producto 1" title="Producto 1"> </a> </div>
              <div class="producto-info">
                <div class="tipo-product">Split Piso Techo</div>
                <div class="nombre-product"> <a href="#"> CARRIER 53ERQ ELITE – R410A ERQ ELITE – R410A </a> </div>
                <div class="precio-product">US$ 2.458,27</div>
              </div>
            </div>
          </li>
          <li>
            <div class="caja-producto">
              <div class="cucarda"> <span class="triangulo"></span> <span class="txt">Nuevo</span> </div>
              <div class="img-product"> <a href="#" title="Producto 1"> <img src="<%= asset_path 'productos/product-2.jpg' %>" alt="Producto 1" title="Producto 1"> </a> </div>
              <div class="producto-info">
                <div class="tipo-product">Split Piso Techo</div>
                <div class="nombre-product"> <a href="#"> CARRIER 53ERQ ELITE – R410A </a> </div>
                <div class="precio-product">US$ 2.458,27</div>
              </div>
            </div>
          </li>
          <li>
            <div class="caja-producto">
              <div class="img-product"> <a href="#" title="Producto 3"> <img src="<%= asset_path 'productos/product-3.jpg' %>" alt="Producto 3" title="Producto 3"> </a> </div>
              <div class="producto-info">
                <div class="tipo-product">Split Piso Techo</div>
                <div class="nombre-product"> <a href="#"> CARRIER 53ERQ ELITE – R410A ERQ ELITE – R410A </a> </div>
                <div class="precio-product">US$ 2.458,27</div>
              </div>
            </div>
          </li>
          <li>
            <div class="caja-producto">
              <div class="img-product"> <a href="#" title="Producto 4"> <img src="<%= asset_path 'productos/product-4.jpg' %>" alt="Producto 4" title="Producto 4"> </a> </div>
              <div class="producto-info">
                <div class="tipo-product">Split Piso Techo</div>
                <div class="nombre-product"> <a href="#"> CARRIER 53ERQ ELITE – R410A ERQ ELITE – R410A </a> </div>
                <div class="precio-product">US$ 2.458,27</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="filtros bottom">
        <div class="ordenar">
          <label >Ordenar por</label>
          <select class="orden">
            <option>Menor precio</option>
            <option>Mayor precio</option>
            <option>Más relevantes</option>
          </select>
        </div>
        <div class="cantidad">
          <label >Mostrar</label>
          <select class="cantidades">
            <option>12</option>
            <option>24</option>
            <option>36</option>
          </select>
          <span>Por Página</span> </div>
        <div class="paginador">
          <label>Página</label>
          <ul class="paginadores">
            <li class="prev"><span>prev</span></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="next"><span>next</span></li>
          </ul>
        </div>
      </div>
    </section>
    <div class="socialmedia-bottom">
      <div class="facebook"> <a href="http://www.facebook.com" target="_blank">Facebook</a> </div>
      <div class="twitter"> <a href="http://www.twitter.com" target="_blank">Twitterk</a> </div>
      <div class="youtube"> <a href="http://www.youtube.com" target="_blank">Youtube</a> </div>
    </div>
  </div>
</div>