<% content_for :body_class, 'checkout checkout-confirm' %>

<% content_for :extra_js do %>
  MP.init('<%= ENV['mercadopago_public_key'] %>');
  $('form#pay').validate();
  $('#payment_zone_id').change(function(e) {
    var $select = $(this);
    var $option = $select.find('option:selected');
    var data = $option.data();
    Alerts.success('Costo de envío: ' + Cart.toCurrency(data.shipmentCost));
    for (var key in data) {
      var value = data[key];
      var $elements = $('[data-value="'+key+'"]');
      if (!$elements.length) return;
      $elements.each(function() {
        var $element = $(this);
        if ($element.is('input')) $element.val(value);
        else $element.text(Cart.toCurrency(value));
      });
    };
  });
<% end %>

<div class="slider">
  <div><img src="<%= asset_path 'imgs_top/img_catalogo.jpg' %>" alt="Catálogo de Productos"></div>
</div>
<div class="content">
  <div class="content-info">
    <div class="breadcrumbs">
      <ul>
        <li><a href="">Home</a></li>
        <li>Carrito</li>
      </ul>
    </div>
    <section class="check">
      <div class="pasos-checkout">
        <h2><a href="<%= cart_page_path %>" style="color:inherit;"><span>1</span> Carrito</a></h2>
        <h1><span>2</span> Checkout</h1>
      </div>
      <div class="col-right" style="max-width: 410px;float: none;margin: 0 auto;width: 100%;position:relative;">
        <div class="checkout-expires">
          Tu carrito vence en: <span data-expires="<%= @cart[:items].map{|id,i| i[:expires_in]}.min rescue 0 %>" data-href="<%= cart_page_path %>"></span> m.
        </div>
        <div style="position:absolute;left:0;top:0;margin:10px;font-size:14px;font-weight:300;">
          <span class="hide-xs">Cotización </span>u$s: <%= @website.dolar.to_s(:currency, unit: '$', delimiter: '.') %>
        </div>
        <h2>REVISA TU ORDEN</h2>
        <div class="resumen">
          <div class="label items">tu carrito</div>
          <div class="item right"><%= pluralize(@cart[:count], 'item') %></div>
          <div class="label envios">Costos de Envío</div>
          <div class="envio right" data-value="shipmentCost">
            <% if current_user.address.present? %>
              <%= current_user.address.zone.shipment_cost.to_s(:currency, unit: '$ ', separator: ',', delimiter: '.') %>
            <% else %>
              --
            <% end %>
          </div>
          <div class="label totales">TOTAL</div>
          <% total = @cart[:total] + (current_user.address.zone.shipment_cost rescue 0) %>
          <div class="total right" data-value="transactionAmount"><%= total.to_s(:currency, unit: '$ ', separator: ',', delimiter: '.') %></div>
        </div>
      </div>
    </section>
    <section class="confirmacion" id="cartCheckoutConfirmation">
      <%= form_for(current_user.payments.new(transaction_amount: total) , html: { id: 'pay' }) do |f| %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :transaction_amount, data: { value: 'transactionAmount' } %>
        <h2 class="no-display">Mercado Pago</h2>
        <div class="col-left">
          <h2>TU INFORMACIÓN DE ENVÍO</h2>
          <% if current_user.address.present? %>
            <script type="text/javascript">
              <% content_for :extra_js do %>
                $('.address-selector select').change(function(e) {
                  var $select = $(this);
                  var id = $select.val();
                  var path = '<%= addresses_path %>/';
                  if (!!id) $.getScript(path + id);
                  else $('.address-selector').fadeOut().next('.address-creator').fadeIn().find('input').val(null);
                });
              <% end %>
            </script>
            <div class="address-selector">
              <label class="gral-label">Tus direcciones</label>
              <%= collection_select nil, :address_id, current_user.addresses + [Address.new(address: 'Envíar a otra dirección…')], :id, :address, {}, { selected: current_user.address, class: 'gral-select' } %>
            </div>
          <% end %>
          <div class="address-creator" style="<%= 'display:none;' if current_user.address.present? %>">
            <div class="column-left">
              <ul class="form-list">
                <li class="wide">
                  <div class="field">
                    <label class="requerido">EMAIL</label>
                    <%= text_field_tag 'address[email]', (current_user.address.email rescue nil || current_user.email), required: true, placeholder: 'ej. nombre@email.com' %>
                  </div>
                </li>
                <li class="wide">
                  <div class="field fields-stack">
                    <label class="requerido">Nombre Completo</label>
                    <%= text_field_tag 'address[fname]', (current_user.address.fname rescue nil || current_user.fname), required: true, placeholder: 'Nombre' %>
                    <%= text_field_tag 'address[lname]', (current_user.address.lname rescue nil || current_user.lname), required: true, placeholder: 'Apellido' %>
                  </div>
                </li>
                <li class="wide">
                  <div class="field">
                    <label>Compañía</label>
                    <%= text_field_tag 'address[company]', (current_user.address.company rescue nil), placeholder: 'Su compañía (opcional)' %>
                  </div>
                </li>
                <li class="wide">
                  <div class="field fields-stack">
                    <label class="requerido">Dirección</label>
                    <%= text_field_tag 'address[address]', (current_user.address.address rescue nil), required: true, minlength: 10, placeholder: 'Dirección' %>
                    <%= text_field_tag 'address[zip_code]', (current_user.address.zip_code rescue nil), required: true, placeholder: 'Código postal' %>
                  </div>
                </li>
              </ul>
            </div>
            <div class="column-right">
              <ul class="form-list confirmacion">
                <li class="wide">
                  <div class="field">
                    <label class="requerido">Ciudad</label>
                    <%= text_field_tag 'address[city]', (current_user.address.city rescue nil), required: true, placeholder: 'Ciudad/Barrio/Localidad' %>
                  </div>
                </li>
                <li class="wide">
                  <div class="field">
                    <label class="requerido">Provincia</label>
                    <%= f.select :zone_id, Zone.roots.map{|z| [ z.title, z.id, { data: { shipment_cost: z.shipment_cost, transaction_amount: z.shipment_cost + @cart[:total] }} ]}, { selected: (current_user.address.zone_id rescue nil), include_blank: 'Seleccione' }, { required: true } %>
                  </div>
                </li>
                <li class="wide">
                  <div class="field">
                    <label class="requerido">Celular</label>
                    <%= telephone_field_tag 'address[mobile]', (current_user.address.mobile rescue nil), required: true, placeholder: 'Teléfono' %>
                  </div>
                </li>
                <li class="wide">
                  <div class="field">
                    <label class="requerido" for="docType">Tipo y Nro de documento:</label>
                    <select id="docType" name="address[doc_type]" data-checkout="docType" data-selected="<%= (current_user.address.doc_type rescue '') %>" required></select>
                    <input type="text" name="address[doc_number]" value="<%= (current_user.address.doc_number rescue '') %>" id="docNumber" data-checkout="docNumber" placeholder="Número de documento" required>
                  </div>
                </li>
              </ul>
            </div>
            <div class="column-left check">
              <% if false %>
                <div class="check-option">
                  <div class="inputcheck">
                    <input type="checkbox" id="direc-tarjeta" name="direc-tarjeta" checked />
                    <label for="direc-tarjeta"><span></span></label>
                  </div>
                  <p>la dirección de la tarjeta es la misma que TU direccón real</p>
                </div>
              <% end %>
            </div>
            <div class="column-right check">
              <div class="check-option">
                <div class="inputcheck">
                  <%= f.check_box :save_address %>
                  <label for="payment_save_address"><span></span></label>
                </div>
                <p>recordar esta dirección en el futuro </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-right">
          <h2>TU INFORMACIÓN DE PAGO</h2>
          <% if current_user.cards.present? %>
            <script type="text/javascript">
              <% content_for :extra_js do %>
                var validateSecurityCodeLength = function() {
                  $('[data-checkout="securityCode"]')
                  .attr('minlength', $('#card-selector select option:selected').attr('security_code_length'));
                };
                $('#card-selector select').change(function(e) {
                  var $select = $(this);
                  var value = $select.val();
                  var card_inputs_html = "<%= j render('card_inputs', f: f) %>";
                  if (!value) {
                    var $parent = $('#card-selector').parent();
                    $('#card-selector').remove();
                    $parent.append(card_inputs_html);
                    setTimeout(MP.getPaymentMethod, 100);
                  }
                  else validateSecurityCodeLength();
                });
                validateSecurityCodeLength();
              <% end %>
            </script>
            <ul class="form-list tarjeta-credito" id="card-selector">
              <li class="wide">
                <div class="field">
                  <label>Tus tarjetas</label>
                  <select id="cardId" name="cardId" data-checkout="cardId">
                    <% current_user.cards.each do |card| %>
                      <option value="<%= card['id'] %>"
                        first_six_digits="<%= card['first_six_digits'] %>" security_code_length="<%= card['security_code']['length'] %>">
                        <%= card['payment_method']['name'].upcase %> terminada en <%= card['last_four_digits'] %>
                      </option>
                    <% end %>
                    <option value="">Usar otra tarjeta…</option>
                  </select>
                </div>
              </li>
              <li class="wide ccv">
                <div class="field">
                  <label class="requerido">código de seguridad (ccv)</label>
                  <input type="text" data-checkout="securityCode" required placeholder="000" minlength="3">
                </div>
              </li>
            </ul>
          <% else %>
            <%= render 'card_inputs', f: f %>
          <% end %>
        </div>
        <div class="control">
          <p>La instalación de los equipos y repuestos adquiridos no está incluida en este valor, deberá presupuestarse aparte y en el lugar de montaje de los mismos. Los valores no incluyen IVA y están expresados en Pesos Argentinos. La empresa se reserva el derecho de modificarlos sin previo aviso.</p>
          <div class="btn-confirm-orden">
            <%= f.submit 'Confirmar orden', class: 'confirm-orden' %>
          </div>
        </div>
      <% end %>
    </section>
    <%= render 'partials/social_media' %>
  </div>
</div>