<% content_for :body_class, 'checkout checkout-confirm' %>

<% content_for :extra_js do %>
  MP.init();
  $('form#pay').validate();
<% end %>

<div class="slider">
  <div><img src="<%= asset_path 'imgs_top/img_catalogo.jpg' %>" alt="Catálogo de Productos"></div>
</div>
<div class="content">
  <div class="content-info">
    <div class="breadcrumbs">
      <ul>
        <li><a href="">Home</a></li>
        <li>Carrito</li>
      </ul>
    </div>
    <section class="check">
      <div class="pasos-checkout">
        <h2><span>1</span> Carrito</h2>
        <h1><span>2</span> Checkout</h1>
        <h2><span>3</span> Confirma tu orden</h2>
      </div>
    </section>
    <section class="confirmacion">
      <%= form_for((current_user.address || current_user.addresses.new), url: '', html: { id: 'pay' }) do |f| %>
        <%= f.hidden_field :addressable_id %>
        <%= f.hidden_field :addressable_type %>
        <h2 class="no-display">Mercado Pago</h2>
        <div class="col-left">
          <h2>TU INFORMACIÓN DE ENVÍO</h2>
          <div class="column-left">
            <ul class="form-list">
              <li class="wide">
                <div class="field">
                  <label class="requerido">EMAIL</label>
                  <%= f.text_field :email, required: true, placeholder: 'ej. nombre@email.com' %>
                </div>
              </li>
              <li class="wide">
                <div class="field fields-stack">
                  <label class="requerido">Nombre Completo</label>
                  <%= f.text_field :fname, required: true, placeholder: 'Nombre' %>
                  <%= f.text_field :lname, required: true, placeholder: 'Apellido' %>
                </div>
              </li>
              <li class="wide">
                <div class="field">
                  <label>Compañía</label>
                  <%= f.text_field :company, placeholder: 'Su compañía (opcional)' %>
                </div>
              </li>
              <li class="wide">
                <div class="field fields-stack">
                  <label class="requerido">Dirección</label>
                  <%= f.text_field :address, required: true, minlength: 10, placeholder: 'Dirección' %>
                  <%= f.text_field :zip_code, required: true, placeholder: 'Código postal' %>
                </div>
              </li>
            </ul>
          </div>
          <div class="column-right">
            <ul class="form-list confirmacion">
              <li class="wide">
                <div class="field">
                  <label class="requerido">Ciudad</label>
                  <%= f.text_field :city, required: true, placeholder: 'Ciudad/Barrio/Localidad' %>
                </div>
              </li>
              <li class="wide">
                <div class="field">
                  <label class="requerido">Provincia</label>
                  <%= f.collection_select :zone_id, Zone.roots, :id, :title, {prompt: 'Seleccione'}, required: true %>
                </div>
              </li>
              <li class="wide">
                <div class="field">
                  <label class="requerido">Celular</label>
                  <%= f.telephone_field :mobile, required: true, placeholder: 'Teléfono' %>
                </div>
              </li>
              <li class="wide">
                <div class="field">
                  <label class="requerido" for="docType">Tipo y Nro de documento:</label>
                  <select id="docType" data-checkout="docType" required></select>
                  <input type="text" id="docNumber" data-checkout="docNumber" placeholder="Número de documento" required>
                </div>
              </li>
            </ul>
          </div>
          <div class="column-left check">
            <div class="check-option">
              <div class="inputcheck">
                <input type="checkbox" id="direc-tarjeta" name="direc-tarjeta" checked />
                <label for="direc-tarjeta"><span></span></label>
              </div>
              <p>la dirección de la tarjeta es la misma que TU direccón real</p>
            </div>
          </div>
          <div class="column-right check">
            <div class="check-option">
              <div class="inputcheck">
                <input type="checkbox" id="recordar-direcc" name="recordar-direcc" />
                <label for="recordar-direcc"><span></span></label>
              </div>
              <p>recordar esta dirección en el futuro </p>
            </div>
          </div>
        </div>
        <div class="col-right">
          <h2>TU INFORMACIÓN DE PAGO</h2>
          <ul class="form-list tarjeta-credito">
            <li class="wide">
              <div class="field">
                <label class="requerido">tarjeta de credito numero</label>
                <input type="text" data-checkout="cardNumber" required placeholder="escribe el numero de tu tarjeta de credito">
              </div>
            </li>
            <li class="tarjetas">
              <div class="field"> <span><img src="<%= asset_path 'tarjetas/visa.png' %>" alt="Visa"></span> <span><img src="<%= asset_path 'tarjetas/master.png' %>" alt="Master Card"></span> <span><img src="<%= asset_path 'tarjetas/maestro.png' %>" alt="Maestro"></span> <span><img src="<%= asset_path 'tarjetas/amex.png' %>" alt="Amex"></span> </div>
            </li>
            <li class="wide fecha">
              <div class="field">
                <label class="requerido">fecha de vencimiento</label>
                <select data-checkout="cardExpirationMonth" class="mes">
                  <% month = Date.today.month %>
                  <option <%= 'selected' if month == 1 %> value="1">01 - Enero</option>
                  <option <%= 'selected' if month == 2 %> value="2">02 - Febrero</option>
                  <option <%= 'selected' if month == 3 %> value="3">03 - Marzo</option>
                  <option <%= 'selected' if month == 4 %> value="4">04 - Abril</option>
                  <option <%= 'selected' if month == 5 %> value="5">05 - Mayo</option>
                  <option <%= 'selected' if month == 6 %> value="6">06 - Junio</option>
                  <option <%= 'selected' if month == 7 %> value="7">07 - Julio</option>
                  <option <%= 'selected' if month == 8 %> value="8">08 - Agosto</option>
                  <option <%= 'selected' if month == 9 %> value="9">09 - Septiembre</option>
                  <option <%= 'selected' if month == 10 %> value="10">10 - Octubre</option>
                  <option <%= 'selected' if month == 11 %> value="11">11 - Noviembre</option>
                  <option <%= 'selected' if month == 12 %> value="12">12 - Diciembre</option>
                </select>
                <select data-checkout="cardExpirationYear" class="anio">
                  <% year = Date.today.year %>
                  <option value="<%= year %>"><%= year %></option>
                  <option value="<%= year + 1 %>"><%= year + 1 %></option>
                  <option value="<%= year + 2 %>"><%= year + 2 %></option>
                  <option value="<%= year + 3 %>"><%= year + 3 %></option>
                  <option value="<%= year + 4 %>"><%= year + 4 %></option>
                  <option value="<%= year + 5 %>"><%= year + 5 %></option>
                  <option value="<%= year + 6 %>"><%= year + 6 %></option>
                </select>
              </div>
            </li>
            <li class="wide ccv">
              <div class="field">
                <label class="requerido">código de seguridad (ccv)</label>
                <input type="text" data-checkout="securityCode" required placeholder="000">
                <a href="#">Qué es esto?</a> </div>
            </li>
            <li class="wide">
              <div class="field">
                <label class="requerido">Nombre en la Tarjeta</label>
                <input type="text" data-checkout="cardholderName" required placeholder="Nombre en la tarjeta">
              </div>
            </li>
          </ul>
          <span class="info">Valoramos tu privacidad</span>
          <div class="check-option">
            <div class="inputcheck">
              <input type="checkbox" id="recordar-tarjeta" name="recordar-tarjeta" />
              <label for="recordar-tarjeta"><span></span></label>
            </div>
            <p>recordar esta tarjeta en el futuro </p>
          </div>
        </div>
        <div class="control">
          <p>La instalación de los equipos y repuestos adquiridos no está incluida en este valor, deberá presupuestarse aparte y en el lugar de montaje de los mismos. Los valores no incluyen IVA y están expresados en Pesos Argentinos. La empresa se reserva el derecho de modificarlos sin previo aviso.</p>
          <div class="btn-confirm-orden">
            <%= f.submit 'Confirmar orden', class: 'confirm-orden' %>
          </div>
        </div>
      <% end %>
    </section>
    <div class="socialmedia-bottom">
      <div class="facebook"> <a href="http://www.facebook.com" target="_blank">Facebook</a> </div>
      <div class="twitter"> <a href="http://www.twitter.com" target="_blank">Twitterk</a> </div>
      <div class="youtube"> <a href="http://www.youtube.com" target="_blank">Youtube</a> </div>
    </div>
  </div>
</div>