<% content_for :body_class, 'checkout checkout-confirm' %>

<% content_for :extra_js do %>
  MP.init();
  $('form#pay').validate();
  $('#payment_zone_id').change(function(e) {
    var $select = $(this);
    var $option = $select.find('option:selected');
    var data = $option.data();
    Alerts.success('Costo de envío: ' + Cart.toCurrency(data.shipmentCost));
    for (var key in data) {
      var value = data[key];
      var $elements = $('[data-value="'+key+'"]');
      if (!$elements.length) return;
      $elements.each(function() {
        var $element = $(this);
        if ($element.is('input')) $element.val(value);
        else $element.text(Cart.toCurrency(value));
      });
    };
  });
<% end %>

<div class="slider">
  <div><img src="<%= asset_path 'imgs_top/img_catalogo.jpg' %>" alt="Catálogo de Productos"></div>
</div>
<div class="content">
  <div class="content-info">
    <div class="breadcrumbs">
      <ul>
        <li><a href="">Home</a></li>
        <li>Carrito</li>
      </ul>
    </div>
    <section class="check">
      <div class="pasos-checkout">
        <h2><a href="<%= cart_page_path %>" style="color:inherit;"><span>1</span> Carrito</a></h2>
        <h1><span>2</span> Checkout</h1>
      </div>
      <div class="col-right" style="max-width: 410px;float: none;margin: 0 auto;width: 100%;position:relative;">
        <div class="checkout-expires">
          Tu carrito vence en: <span data-expires="<%= @cart[:items].map{|id,i| i[:expires_in]}.min rescue 0 %>" data-href="<%= cart_page_path %>"></span> m.
        </div>
        <h2>REVISA TU ORDEN</h2>
        <div class="resumen">
          <div class="label items">tu carrito</div>
          <div class="item right"><%= pluralize(@cart[:count], 'item') %></div>
          <div class="label envios">Costos de Envío</div>
          <div class="envio right" data-value="shipmentCost">
            <% if current_user.address.present? %>
              <%= current_user.address.zone.shipment_cost.to_s(:currency, unit: '$ ', separator: ',', delimiter: '.') %>
            <% else %>
              --
            <% end %>
          </div>
          <div class="label totales">TOTAL</div>
          <% total = @cart[:total] + (current_user.address.zone.shipment_cost rescue 0) %>
          <div class="total right" data-value="transactionAmount"><%= total.to_s(:currency, unit: '$ ', separator: ',', delimiter: '.') %></div>
        </div>
      </div>
    </section>
    <section class="confirmacion" id="cartCheckoutConfirmation">
      <%= form_for(current_user.payments.new(transaction_amount: total) , html: { id: 'pay' }) do |f| %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :transaction_amount, data: { value: 'transactionAmount' } %>
        <h2 class="no-display">Mercado Pago</h2>
        <div class="col-left">
          <h2>TU INFORMACIÓN DE ENVÍO</h2>
          <div class="column-left">
            <ul class="form-list">
              <li class="wide">
                <div class="field">
                  <label class="requerido">EMAIL</label>
                  <%= text_field_tag 'address[email]', (current_user.address.email rescue nil), required: true, placeholder: 'ej. nombre@email.com' %>
                </div>
              </li>
              <li class="wide">
                <div class="field fields-stack">
                  <label class="requerido">Nombre Completo</label>
                  <%= text_field_tag 'address[fname]', (current_user.address.fname rescue nil), required: true, placeholder: 'Nombre' %>
                  <%= text_field_tag 'address[lname]', (current_user.address.lname rescue nil), required: true, placeholder: 'Apellido' %>
                </div>
              </li>
              <li class="wide">
                <div class="field">
                  <label>Compañía</label>
                  <%= text_field_tag 'address[company]', (current_user.address.company rescue nil), placeholder: 'Su compañía (opcional)' %>
                </div>
              </li>
              <li class="wide">
                <div class="field fields-stack">
                  <label class="requerido">Dirección</label>
                  <%= text_field_tag 'address[address]', (current_user.address.address rescue nil), required: true, minlength: 10, placeholder: 'Dirección' %>
                  <%= text_field_tag 'address[zip_code]', (current_user.address.zip_code rescue nil), required: true, placeholder: 'Código postal' %>
                </div>
              </li>
            </ul>
          </div>
          <div class="column-right">
            <ul class="form-list confirmacion">
              <li class="wide">
                <div class="field">
                  <label class="requerido">Ciudad</label>
                  <%= text_field_tag 'address[city]', (current_user.address.city rescue nil), required: true, placeholder: 'Ciudad/Barrio/Localidad' %>
                </div>
              </li>
              <li class="wide">
                <div class="field">
                  <label class="requerido">Provincia</label>
                  <%= f.select :zone_id, Zone.roots.map{|z| [ z.title, z.id, { data: { shipment_cost: z.shipment_cost, transaction_amount: z.shipment_cost + @cart[:total] }} ]}, { selected: (current_user.address.zone_id rescue nil), include_blank: 'Seleccione' }, { required: true } %>
                </div>
              </li>
              <li class="wide">
                <div class="field">
                  <label class="requerido">Celular</label>
                  <%= telephone_field_tag 'address[mobile]', (current_user.address.mobile rescue nil), required: true, placeholder: 'Teléfono' %>
                </div>
              </li>
              <li class="wide">
                <div class="field">
                  <label class="requerido" for="docType">Tipo y Nro de documento:</label>
                  <select id="docType" data-checkout="docType" required></select>
                  <input type="text" id="docNumber" data-checkout="docNumber" placeholder="Número de documento" required>
                </div>
              </li>
            </ul>
          </div>
          <div class="column-left check">
            <% if false %>
              <div class="check-option">
                <div class="inputcheck">
                  <input type="checkbox" id="direc-tarjeta" name="direc-tarjeta" checked />
                  <label for="direc-tarjeta"><span></span></label>
                </div>
                <p>la dirección de la tarjeta es la misma que TU direccón real</p>
              </div>
            <% end %>
          </div>
          <div class="column-right check">
            <div class="check-option">
              <div class="inputcheck">
                <%= f.check_box :save_address %>
                <label for="payment_save_address"><span></span></label>
              </div>
              <p>recordar esta dirección en el futuro </p>
            </div>
          </div>
        </div>
        <div class="col-right">
          <h2>TU INFORMACIÓN DE PAGO</h2>
          <ul class="form-list tarjeta-credito">
            <li class="wide">
              <div class="field">
                <label class="requerido">tarjeta de credito numero</label>
                <input type="text" data-checkout="cardNumber" required placeholder="escribe el numero de tu tarjeta de credito">
              </div>
            </li>
            <li class="tarjetas">
              <div class="field"> <span><img src="<%= asset_path 'tarjetas/visa.png' %>" alt="Visa"></span> <span><img src="<%= asset_path 'tarjetas/master.png' %>" alt="Master Card"></span> <span><img src="<%= asset_path 'tarjetas/maestro.png' %>" alt="Maestro"></span> <span><img src="<%= asset_path 'tarjetas/amex.png' %>" alt="Amex"></span> </div>
            </li>
            <li class="wide fecha">
              <div class="field">
                <label class="requerido">fecha de vencimiento</label>
                <select data-checkout="cardExpirationMonth" class="mes">
                  <% month = Date.today.month %>
                  <option <%= 'selected' if month == 1 %> value="1">01 - Enero</option>
                  <option <%= 'selected' if month == 2 %> value="2">02 - Febrero</option>
                  <option <%= 'selected' if month == 3 %> value="3">03 - Marzo</option>
                  <option <%= 'selected' if month == 4 %> value="4">04 - Abril</option>
                  <option <%= 'selected' if month == 5 %> value="5">05 - Mayo</option>
                  <option <%= 'selected' if month == 6 %> value="6">06 - Junio</option>
                  <option <%= 'selected' if month == 7 %> value="7">07 - Julio</option>
                  <option <%= 'selected' if month == 8 %> value="8">08 - Agosto</option>
                  <option <%= 'selected' if month == 9 %> value="9">09 - Septiembre</option>
                  <option <%= 'selected' if month == 10 %> value="10">10 - Octubre</option>
                  <option <%= 'selected' if month == 11 %> value="11">11 - Noviembre</option>
                  <option <%= 'selected' if month == 12 %> value="12">12 - Diciembre</option>
                </select>
                <select data-checkout="cardExpirationYear" class="anio">
                  <% year = Date.today.year %>
                  <option value="<%= year %>"><%= year %></option>
                  <option value="<%= year + 1 %>"><%= year + 1 %></option>
                  <option value="<%= year + 2 %>"><%= year + 2 %></option>
                  <option value="<%= year + 3 %>"><%= year + 3 %></option>
                  <option value="<%= year + 4 %>"><%= year + 4 %></option>
                  <option value="<%= year + 5 %>"><%= year + 5 %></option>
                  <option value="<%= year + 6 %>"><%= year + 6 %></option>
                </select>
              </div>
            </li>
            <li class="wide ccv">
              <div class="field">
                <label class="requerido">código de seguridad (ccv)</label>
                <input type="text" data-checkout="securityCode" required placeholder="000">
                <a href="#">Qué es esto?</a> </div>
            </li>
            <li class="wide">
              <div class="field">
                <label class="requerido">Nombre en la Tarjeta</label>
                <input type="text" data-checkout="cardholderName" required placeholder="Nombre en la tarjeta">
              </div>
            </li>
          </ul>
          <span class="info">Valoramos tu privacidad</span>
          <div class="check-option">
            <div class="inputcheck">
              <%= f.check_box :save_card %>
              <label for="payment_save_card"><span></span></label>
            </div>
            <p>recordar esta tarjeta en el futuro </p>
          </div>
        </div>
        <div class="control">
          <p>La instalación de los equipos y repuestos adquiridos no está incluida en este valor, deberá presupuestarse aparte y en el lugar de montaje de los mismos. Los valores no incluyen IVA y están expresados en Pesos Argentinos. La empresa se reserva el derecho de modificarlos sin previo aviso.</p>
          <div class="btn-confirm-orden">
            <%= f.submit 'Confirmar orden', class: 'confirm-orden' %>
          </div>
        </div>
      <% end %>
    </section>
    <div class="socialmedia-bottom">
      <div class="facebook"> <a href="http://www.facebook.com" target="_blank">Facebook</a> </div>
      <div class="twitter"> <a href="http://www.twitter.com" target="_blank">Twitterk</a> </div>
      <div class="youtube"> <a href="http://www.youtube.com" target="_blank">Youtube</a> </div>
    </div>
  </div>
</div>