<% content_for :body_class, 'contacto' %>

<% content_for :extra_js do %>
  $('form#new_contact').validate();
<% end %>

<%= render 'partials/carousel' %>
<div class="content">
  <div class="content-info">
    <div class="breadcrumbs">
      <ul>
        <li><a href="">Home</a></li>
        <li>Contacto</li>
      </ul>
    </div>
    <section class="contact">
      <h2 class="no-display">Contacto</h2>
      <div class="col-left">
        <%= form_for @contact do |f| %>
          <%= hidden_field_tag :after_create_url, root_url %>
          <ul class="form-list">
            <li class="wide">
              <div class="field">
                <label class="requerido">Nombre Completo</label>
                <%= f.text_field :name, placeholder: 'ej. Roberto Martinez', required: true %>
              </div>
            </li>
            <li class="wide">
              <div class="field">
                <label class="requerido">Email</label>
                <%= f.email_field :email, placeholder: 'ej. nombre@mail.com', required: true %>
              </div>
            </li>
            <li class="wide">
              <div class="field">
                <label>Compañía</label>
                <%= f.text_field :company, placeholder: 'ej. tu compania (opcional)'%>
              </div>
            </li>
            <li class="wide">
              <div class="field">
                <label class="requerido">Asunto</label>
                <%= f.text_field :subject, placeholder: 'ej. Solicitar Presupuesto', required: true %>
              </div>
            </li>
            <li class="wide">
              <div class="field">
                <label class="requerido">Mensaje</label>
                <%= f.text_area :message, required: true %>
              </div>
            </li>
          </ul>
          <div class="btn">
            <%= f.submit 'Enviar' %>
          </div>
        <% end %>
      </div>
      <div class="col-right">
        <h2>Dirección</h2>
        <div class="direccion"> <span class="icon"></span>
          <p><%= @website.address %></p>
        </div>
        <div class="telefonos">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span class="numeros"><%= @website.phone %></span>
        </div>
        <div class="telefonos">
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
          <span class="numeros"><%= @website.mobile %></span>
        </div>
        <div class="email"> <span class="icon"></span> <a href="mailto:<%= @website.email %>"><%= @website.email %></a> </div>
        <div class="info"> Si tenes preguntas sobre tu orden o necesitas informacion general nuestro servicio al cliente te respondera a la brevedad. </div>
      </div>
    </section>
    <div class="partner-bottom">
      <div class="partner"><img src="<%= asset_path 'partner/bgh.png' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/lg.png' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/samsung.png' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/siam.jpg' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/noblex.png' %>" alt=""></div>
    </div>
    <%= render 'partials/social_media' %>
  </div>
</div>