<% content_for :body_class, 'home' %>

<% content_for :extra_js do %>
	Pages.home();
<% end %>

<%= render 'partials/carousel' %>
<div class="content">
  <div class="content-info">
    <% @product_categories.each do |category| %>
      <% products = Product.active.where(category: category.subtree.map{|c| c}).order(special: :desc).take(7) %>
      <% if products.present? %>
        <section class="<%= 'first' if @first_category_rendered.blank? && (@first_category_rendered = true) %>">
          <h2><%= link_to category.title, products_page_path(category), style: 'color:inherit' %></h2>
          <ul id="<%= category.slug %>" class="carrusel owl-carousel">
            <% products.each do |product| %>
              <%= render 'products/box', product: product  %>
            <% end %>
          </ul>
        </section>
      <% end %>
    <% end %>
    <div class="slider-bottom">
      <div class="slider-bott owl-carousel">
        <% @news.each do |article| %>
          <div class="item">
            <img src="<%= asset_path article.image(:big) %>" alt="Slider Bottom 1" class="desktop">
            <img src="<%= asset_path article.image(:medium) %>" alt="Slider Bottom 1 Mobile" class="mobile">
            <div class="info-slider-bott">
              <% title_words = article.title.split(' ') %>
              <h2><%= title_words.shift %><br>
                <span><%= title_words.join(' ') %></span></h2>
              <p><%= article.subtitle %></p>
              <a href="<%= article_page_path(article) %>" class="button">ver Noticia</a> <a href="<%= article_path(article) %>" class="button mas">+</a> </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="partner-bottom">
      <div class="partner"><img src="<%= asset_path 'partner/bgh.png' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/lg.png' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/samsung.png' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/siam.jpg' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/noblex.png' %>" alt=""></div>
    </div>
    <%= render 'partials/social_media' %>
  </div>
</div>