<% content_for :body_class, 'club-partners' %>

<%= render 'partials/carousel' %>
<div class="content">
  <div class="content-info">
    <section class="clubpartners">
      <h1>club de partners aria:</h1>
      <div class="col-left">
        <h2>¿Qué es el Club de Partners Aria (CPA)?</h2>
        <p>Es un programa de membresía sin cargo para los Partners (miembros participantes), con grandes beneficios exclusivos,para profesionales vinculados con la construcción y remodelación de hogares y empresas.</p>
        <h2>¿Quiénes pueden ser parte del Club?</h2>
        <p>Se consideran Partners a todos aquellos profesionales que se encuentren dirigiendo proyectos de diseño, construcción y remodelación de hogares, comercios y empresas, tales como Arquitectos, Ingenieros Civiles, Diseñadores de Interiores, MMdeO, o directamente, propietarios.</p>
        <h2>¿En qué consiste el CPA?</h2>
        <p>Ser Partner significa poder acceder a los beneficios exclusivos de contar con Aria como socio  estratégico para todos aquellos proyectos de climatización de obras civiles y comerciales, sin importar la magnitud de la misma. Funciona de manera muy simple: Un Partner, que cuente con una necesidad de climatización de un proyecto y lo presente en el CPA para que ARIA se convierta en el proveedor que realice dicho proyecto y lo realice efectivamente, obtiene los Beneficios Exclusivos del CPA.</p>
        <% unless user_signed_in? && Contact.partners.find_by(email: current_user.email).present? %>
          <a href="#modal-partners" data-util="modal">Participar</a>
        <% else %>
          <a href="javascript:void(0);">Ya estás participando</a>
        <% end %>
      </div>
      <div class="col-right"> <img src="<%= asset_path 'club-partners/clubpartners.jpg' %>" alt="Club Partners Aria"> </div>
    </section>
    <section class="beneficios">
      <h2>¿Cuáles son los Beneficios Exclusivos del CPA?</h2>
      <table>
        <tbody>
          <tr>
            <td class="left"><h2>INSTANT <span>REBATE:</span></h2>
              <p>Todo proyecto de climatización que un Partner presente en el CPA y que cuente con la aprobación de la contratación de Aria para realizarlo, por parte del propietario o contratista en la obra, generará un “INSTANT REBATE” (reembolso inmediato) para el Partner, constituido por un porcentaje del valor total del proyecto de climatización (en base a una escala), que se hará efectivo al momento de finalizar y cobrar el proyecto total.</p></td>
            <td class="right"><h2><span>BONUS:</span></h2>
              <p>Los Partners que mayor volumen de obras aportan, reciben además un premio adicional, según la escala vigente.</p></td>
          </tr>
          <tr>
            <td class="left"><h2>DESCUENTOS Y <span>BONIFICACIONES:</span></h2>
              <p>También los clientes de los Partners se benefician, ya que obtienen descuentos y bonificaciones en toda la línea de productos y servicios de ARIA, para las obras que contraten a través del CPA.</p></td>
            <td class="right"><h2>ASESORAMIENTO <span>SIN CARGO: </span></h2>
              <p>La planificación de la climatización de un proyecto de construcción o remodelación, no es para nada sencillo. Por eso, los Partners de CPA pueden solicitar asesoramiento sin cargo por parte de ARIA para su obra.</p></td>
          </tr>
          <tr>
            <td class="left"><h2><span>DISPONIBILIDAD:</span></h2>
              <p>En el sector de climatización, conseguir un proveedor que comience rápidamente a trabajar en un proyecto, es una tarea difícil, por la demanda que se genera en determinados momentos del año. Pero los Partners de CPA cuentan con  disponibilidad inmediata para sumarse al proyecto por parte de ARIA y su personal.</p></td>
            <td class="right"><h2>¿Cómo participar <span>del CPA?</span></h2>
              <p>a) Completar el formulario de Admisión. <br>
                b) Y confirmar la recepción del email de aceptación y bienvenida como Partners enviado por ARIA. </p>
              <p>A partir de ese momento, el Partner puede comenzar a presentar proyecto ¡y a disfrutar de los Beneficios Exclusivos!</p></td>
          </tr>
        </tbody>
      </table>
    </section>
    <div class="button-set">
      <% unless user_signed_in? && Contact.partners.find_by(email: current_user.email).present? %>
        <a href="#modal-partners" data-util="modal">HAZ CLICK AQUí para empezar a participar del club de partners aria</a>
      <% else %>
        <a href="javascript:void(0);">Ya estas participando del club de partners aria</a>
      <% end %>
    </div>
    <div class="partner-bottom">
      <div class="partner"><img src="<%= asset_path 'partner/carrier.jpg' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/toshiba.jpg' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/midea.jpg' %>" alt=""></div>
    </div>
    <%= render 'partials/social_media' %>
  </div>
</div>

<% unless user_signed_in? && Contact.partners.find_by(email: current_user.email).present? %>
  <% content_for :extra_js do %>
    $('#partners-form').validate();
  <% end %>
  <div class="modal fade" tabindex="-1" role="dialog" id="modal-partners">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Club de Partners Aria</h4>
        </div>
        <%= form_for Contact.new(email: user_signed_in? ? current_user.email : ''), html: {id: 'partners-form'} do |f| %>
          <%= hidden_field_tag :after_create_url, request.path %>
          <%= hidden_field_tag :after_create_notice, 'Gracias por suscribirte al Club de Partners Aria' %>
          <%= f.hidden_field :kind, value: :partners %>
          <div class="modal-body">
            <div class="field">
              <%= f.email_field :email, placeholder: 'Email', required: true, autofocus: true %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit 'Participar' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>