<% content_for :body_class, 'catalogo' %>

<% content_for :extra_js do %>
  Pages.products();
<% end %>

<div class="slider">
  <div><img src="<%= asset_path 'imgs_top/img_catalogo.jpg' %>" alt="Catálogo de Productos"></div>
</div>
<div class="content">
  <div class="content-info">
    <div class="breadcrumbs">
      <ul>
        <li><a href="<%= root_path %>">Home</a></li>
        <% if @category.present? %>
          <li><a href="<%= products_page_path %>">Productos</a></li>
          <li><%= @category.title %></li>
        <% else %>
          <li>Productos</li>
        <% end %>
      </ul>
    </div>
    <section>
      <div class="filtros">
        <%= render 'products/page_filters' %>
      </div>
      <div class="product-grid-col4">
        <ul>
          <% @products.each do |product| %>
            <%= render 'products/box', product: product  %>
          <% end %>
        </ul>
      </div>
      <div class="filtros bottom">
        <%= render 'products/page_filters' %>
      </div>
    </section>
    <%= render 'partials/social_media' %>
  </div>
</div>