<% content_for :body_class, 'product-view-page' %>

<% content_for :extra_js do %>
  AriaProductInit();

  $('#galeria-thumbs.owl-carousel').owlCarousel({
    loop:false,
    items:3,
    margin:0,
    nav:true,
    dots:false,
    responsive:{
        0:{ items:3}
    }
  });

  $(document).ready( function() { 
    var el = $('.qty'); 
    function change( amt ) { 
      el.val( parseInt( el.val(), 10 ) + amt ); 
    } 

    $('.mas').click( function() { 
      change( 1 ); 
    } ); 
  } );
  
  $('section.relacionados .owl-carousel').owlCarousel({
    loop:false,
    items:1,
    slideBy:1,
    margin:0,
    nav: true,
    dots: false,
    responsive:{
      0:{items:1},
      650:{items:2},
      800:{items:3},
      1025:{items:4},
      1251:{items:5}
    }
  });
<% end %>

<div class="slider">
  <div><img src="<%= asset_path 'imgs_top/img_catalogo.jpg' %>" alt="Catálogo de Productos"></div>
</div>
<div class="content">
  <div class="content-info">
    <div class="breadcrumbs">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Productos y Servicios</a></li>
        <li><a href="">Equipos</a></li>
        <li>Comercial</li>
      </ul>
    </div>
    <section>
      <div class="product-view">
        <div class="product-imagen">
          <div class="image">
            <%= image_tag @product.image(:medium), id: 'img_01', data: { zoom_image: @product.image(:big) } %>
          </div>
          <div id="galeria-thumbs" class="galeria owl-carousel">
            <% @product.images.each_with_index do |img, index| %>
              <%= link_to '#', data: { image: img.item.url(:medium), zoom_image: img.item.url(:big) } do %>
                <%= image_tag img.item.url(:small), id: 'img_' + index.to_s %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="product-info">
          <div class="product-name">
            <h1 class="title"><%= @product.title %></h1>
            <div class="reviews">
              <div class="rating">
                <input type="radio" id="star5" name="rating" value="5" />
                <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4 and a half" />
                <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" />
                <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3 and a half" />
                <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" />
                <label class = "full" for="star3" title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2 and a half" />
                <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" />
                <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1 and a half" />
                <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" />
                <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="half" />
                <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
              </div>
              <label>1 Review(s)</label>
            </div>
          </div>
          <div class="product-price">
            <div class="price"><%= number_to_currency(@product.price, unit: @product.currency + " ", separator: ",", delimiter: ".") %></div>
            <div class="code-stock">
              <div class="sku">Código de Producto: <span><%= @product.key_code %></span></div>
              <div class="stock"><%= @product.stock.present? ? 'En stock' : 'Sin Stock' %></div>
            </div>
          </div>
          <div class="separador"></div>
          <div class="caracteristicas">
            <h3>Características</h3>
            <p><%= @product.characteristics.html_safe %></p>
          </div>
          <div class="separador"></div>
          <div class="dimensiones">
            <h3>Dimensiones</h3>
            <p><%= @product.dimensions %></p>
          </div>
          <% if @product.external_link.present? %>
            <a href="<%= @product.external_link %>" target="_blank" class="ver-ficha"> ver ficha oficial Carrier </a>
          <% end %>
          <div class="separador"></div>
          <div class="agregar-carrito">
            <form>
              <div class="cantidad">
                <label >Catidad:</label>
                <input type="text" class="qty" name="cantidad" value="1"/>
                <span class="mas">+</span> </div>
              <div class="agregar-boton">
                <button>Agregar al Carrito</button>
              </div>
              <div class="compartir-product">
                <ul>
                  <li><a href="#">+ Email a un amigo</a></li>
                  <li><a href="#">+ Compartir en Facebook</a></li>
                  <li><a href="#">+ Compartir en Twitter</a></li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <div class="product-descripcion">
      <label class="tab1 active">Ficha Técnica</label>
      <div class="content-tab1" style="display:block;">
        <p><%= @product.data_sheet.html_safe %></p>
      </div>
      <label class="tab2">información adicional</label>
      <div class="content-tab2">
        <p><%= @product.information.html_safe %>
      </div>
      <label class="tab3">tags</label>
      <div class="content-tab3">
        <% @product.tags.each do |tag| %>
          <p><a href="#"><%= tag.name %></a></p>
        <% end %>
      </div>
    </div>
    <section class="relacionados">
      <h2>Productos Relacionados</h2>
      <ul id="relacionados" class="carrusel owl-carousel">
        <% @product.category.products.reject{ |p| p.id == @product.id }.each do |product| %>
          <%= render 'products/box', product: product  %>
        <% end %>
      </ul>
    </section>
    <div class="socialmedia-bottom">
      <div class="facebook"> <a href="http://www.facebook.com" target="_blank">Facebook</a> </div>
      <div class="twitter"> <a href="http://www.twitter.com" target="_blank">Twitterk</a> </div>
      <div class="youtube"> <a href="http://www.youtube.com" target="_blank">Youtube</a> </div>
    </div>
  </div>
</div>