<% content_for :body_class, 'product-view-page' %>

<% content_for :extra_js do %>
  Pages.product({
    stock: <%= @product.stock %>,
    score: <%= @product.score %>
  });
<% end %>

<% if user_signed_in? %>
  <script type="application/json" id="productJSON">
    <%= { id: @product.id, stock: @product.stock_available_to_user(current_user.id) }.to_json.html_safe %>
  </script>
<% else %>
  <script type="application/json" id="productJSON">
    <%= { id: @product.id, stock: @product.stock_available }.to_json.html_safe %>
  </script>
<% end %>

<div class="slider">
  <div><img src="<%= asset_path 'imgs_top/img_catalogo.jpg' %>" alt="Catálogo de Productos"></div>
</div>
<div class="content">
  <div class="content-info">
    <div class="breadcrumbs">
      <ul>
        <li><a href="<%= root_path %>">Home</a></li>
        <li><a href="<%= products_page_path %>">Productos</a></li>
        <% @product.category.ancestors.each do |category| %>
          <% unless category.slug == 'products' %>
            <li><a href="<%= products_page_path category %>"><%= category.title %></a></li>
          <% end %>
        <% end %>
        <li><a href="<%= products_page_path @product.category %>"><%= @product.category.title %></a></li>
        <li class="active"><%= @product.title %></li>
      </ul>
    </div>
    <section>
      <div class="product-view">
        <div class="product-imagen">
          <div class="image">
            <%= image_tag @product.image(:medium), id: 'img_01', data: { zoom_image: @product.image(:big) } %>
          </div>
          <div id="galeria-thumbs" class="galeria owl-carousel">
            <% @product.images.each_with_index do |img, index| %>
              <%= link_to '#', data: { image: img.item.url(:medium), zoom_image: img.item.url(:big) } do %>
                <%= image_tag img.item.url(:thumb), id: 'img_' + index.to_s %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="product-info">
          <div class="product-name">
            <h1 class="title"><%= @product.title %></h1>
            <div class="reviews">
              <% if @product.reviews.present? %>
                <div class="rating locked">
                  <input type="radio" id="star_10" name="rating" value="10">
                  <label class="full" for="star_10" title="Excelente"></label>
                  <input type="radio" id="star_9" name="rating" value="9">
                  <label class="half" for="star_9" title="Muy bueno"></label>
                  <input type="radio" id="star_8" name="rating" value="8">
                  <label class="full" for="star_8" title="Bueno"></label>
                  <input type="radio" id="star_7" name="rating" value="7">
                  <label class="half" for="star_7" title="Bueno"></label>
                  <input type="radio" id="star_6" name="rating" value="6">
                  <label class="full" for="star_6" title="Regular"></label>
                  <input type="radio" id="star_5" name="rating" value="5">
                  <label class="half" for="star_5" title="Regular"></label>
                  <input type="radio" id="star_4" name="rating" value="4">
                  <label class="full" for="star_4" title="Malo"></label>
                  <input type="radio" id="star_3" name="rating" value="3">
                  <label class="half" for="star_3" title="Malo"></label>
                  <input type="radio" id="star_2" name="rating" value="2">
                  <label class="full" for="star_2" title="Muy malo"></label>
                  <input type="radio" id="star_1" name="rating" value="1">
                  <label class="half" for="star_1" title="Muy malo"></label>
                </div>
                <label><%= pluralize(@product.reviews.count, 'Review') %></label>
              <% end %>
            </div>
          </div>
          <div class="product-price">
            <% if @product.price.present? %>
              <div class="price"><%= number_to_currency(@product.price, unit: @product.currency + " ", separator: ",", delimiter: ".") %></div>
            <% else %>
              <div class="price"><a href="#modal-ask-product" data-util="modal" class="gral-btn"><big><big>Consultar&nbsp;</big></big></a></div>
            <% end %>
            <div class="code-stock">
              <div class="sku">Código de Producto: <span><%= @product.key_code %></span></div>
              <div class="stock">
                En stock: <span id="stock_available"><%= user_signed_in? ? @product.stock_available_to_user(current_user.id) : @product.stock_available %></span> u.
              </div>
            </div>
          </div>
          <div class="separador"></div>
          <div class="caracteristicas">
            <h3>Características</h3>
            <p><%= @product.characteristics.html_safe %></p>
          </div>
          <div class="separador"></div>
          <div class="dimensiones">
            <h3>Dimensiones</h3>
            <p><%= @product.dimensions %></p>
          </div>
          <% if @product.external_link.present? %>
            <a href="<%= @product.external_link %>" target="_blank" class="ver-ficha"> ver ficha oficial </a>
          <% end %>
          <div class="separador"></div>
          <div class="agregar-carrito">
            <% if @product.price.present? %>
              <form>
                <div class="cantidad" id="quantity">
                  <label >Catidad en carrito:</label>
                  <span class="menos">-</span>
                  <input type="text" class="qty" id="quantity_input" name="cantidad" value="0" autocomplete="off"/>
                  <span class="mas">+</span>
                </div>
                <div class="agregar-boton">
                  <% if request.subdomain[/panel/] %>
                    <%= link_to 'Agregar al Carrito', 'javascript:Alerts.danger("Para usar el carrito tenés que salir del Panel Aria")' %>
                  <% elsif user_signed_in? %>
                    <%= link_to 'Agregar al Carrito', add_to_cart_path, id: 'cart-add' %>
                  <% else %>
                    <%= link_to 'Agregar al Carrito', '#modal-login', data: { util: 'modal' } %>
                  <% end %>
                </div>
                <div class="compartir-product" style="display:none;">
                  <ul>
                    <li><a href="#">+ Email a un amigo</a></li>
                    <li><a href="#">+ Compartir en Facebook</a></li>
                    <li><a href="#">+ Compartir en Twitter</a></li>
                  </ul>
                </div>
              </form>
              <small>Los productos permanecen en tu carrito por 10 minutos. ¡Confirmá tu compra!</small>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <div class="product-descripcion">
      <label class="tab1 active">Ficha Técnica</label>
      <div class="content-tab1" style="display:block;">
        <%= link_to 'Ver ficha en pdf.', @product.data_sheet_file.url, class: 'gral-btn', target: '_blank' if @product.data_sheet_file.present? %>
        <p><%= @product.data_sheet.html_safe %></p>
      </div>
      <label class="tab2">información adicional</label>
      <div class="content-tab2">
        <p><%= @product.information.html_safe %>
      </div>
      <label class="tab3">tags</label>
      <div class="content-tab3">
        <% @product.tags.each do |tag| %>
          <p><a href="<%= tag_page_path(tag) %>"><%= tag.name %></a></p>
        <% end %>
      </div>
    </div>
    <section class="relacionados">
      <h2>Productos Relacionados</h2>
      <ul id="relacionados" class="carrusel owl-carousel">
        <% @related_products.each do |product| %>
          <%= render 'products/box', product: product  %>
        <% end %>
      </ul>
    </section>
    <%= render 'partials/social_media' %>
  </div>
</div>

<% if @product.ask? %>
  <% content_for :extra_js do %>
    $('form#new_contact').validate({
      submitHandler: function(form) {
        Pages.loader('Enviando consulta…');
        form.submit();
      }
    });
  <% end %>
  <div class="modal fade" tabindex="-1" role="dialog" id="modal-ask-product">
    <div class="modal-dialog">
      <div class="modal-content">
        <% contact = Contact.new(subject: 'Consulta por ' + @product.title, contactable: @product) %>
        <% contact.name = current_user.name if user_signed_in? %>
        <% contact.email = current_user.email if user_signed_in? %>
        <%= form_for contact do |f| %>
          <%= hidden_field_tag :after_create_url, request.path %>
          <%= f.hidden_field :contactable_id %>
          <%= f.hidden_field :contactable_type %>
          <% if user_signed_in? %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :email %>
          <% end %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><%= @product.brand %></h4>
          </div>
          <div class="modal-body">
            <% unless user_signed_in? %>
              <div class="field">
                <%= f.text_field :name, placeholder: 'Nombre completo', required: true %>
              </div>
              <div class="field">
                <%= f.email_field :email, autofocus: true, required: true, placeholder: 'Email' %>
              </div>
            <% end %>
            <div class="field">
              <%= f.text_field :subject, placeholder: 'Asunto', required: true %>
            </div>
            <div class="field">
              <%= f.text_area :message, required: true, style: 'height:100px;min-height:initial;max-height:initial;' %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit "Consultar" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>