<% content_for :body_class, 'catalogo' %>

<% content_for :extra_js do %>
  Pages.products();
  $('#category-select').change(function() {
    var val = $(this).val();
    if (!!val) window.location.href = val;
  });
<% end %>

<div class="slider">
  <div><img src="<%= asset_path 'imgs_top/img_catalogo.jpg' %>" alt="Catálogo de Productos"></div>
</div>
<div class="content">
  <div class="content-info">
    <div class="breadcrumbs <%= 'breadcrumbs-mobile' if browser.device.mobile? %>">
      <ul>
        <% if browser.device.mobile? %>
          <li class="category-select">
            <%= select_tag 'category-select', options_for_select(ancestry_product_categories(Category.friendly.find('products').subtree.arrange), products_page_path(@category)) %>
          </li>
        <% else %>
          <li><a href="<%= root_path %>">Home</a></li>
          <% if @category.present? %>
            <li><a href="<%= products_page_path %>">Productos</a></li>
            <% @category.ancestors.each do |category| %>
              <% unless category.slug == 'products' %>
                <li><a href="<%= products_page_path category %>"><%= category.title %></a></li>
              <% end %>
            <% end %>
            <li class="active"><%= @category.title %></li>
          <% else %>
            <% if params[:f].present? %>
              <li class="active"><a href="<%= products_page_path %>">Productos</a></li>
            <% else %>
              <li class="active">Productos</li>
            <% end %>
          <% end %>
          <% if @category.present? && @category.has_children? %>
            <li class="category-select">
              <%= select_tag 'category-select', options_for_select(@category.children.map{|c| [c.title, products_page_path(c)]}), prompt: 'Sub categoría' %>
            </li>
          <% elsif @category.blank? %>
            <li class="category-select">
              <%= select_tag 'category-select', options_for_select(Category.friendly.find('products').children.map{|c| [c.title, products_page_path(c)]}), prompt: 'Sub categoría' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <% if @product_categories.present? %>
      <div class="content-info-like-home">
        <% @product_categories.each do |category| %>
          <% products = Product.active.where(category: category.subtree.map{|c| c}).order(special: :desc).take(7) %>
          <% if products.present? %>
            <section class="<%= 'first' if @first_category_rendered.blank? && (@first_category_rendered = true) %>">
              <h2><%= link_to category.title, products_page_path(category), style: 'color:inherit' %></h2>
              <ul id="<%= category.slug %>" class="carrusel owl-carousel">
                <% products.each do |product| %>
                  <%= render 'products/box', product: product  %>
                <% end %>
              </ul>
            </section>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <section>
        <div class="filtros">
          <%= render 'products/page_filters' %>
        </div>
        <div class="product-grid-col4">
          <ul>
            <% if @products.blank? %>
              <p>No se encontraron productos que coincidan con tu busqueda.</p>
            <% else %>
              <% @products.each do |product| %>
                <%= render 'products/box', product: product  %>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="filtros bottom">
          <%= render 'products/page_filters' %>
        </div>
      </section>
    <% end %>
    <%= render 'partials/social_media' %>
  </div>
</div>