<% content_for :body_class, 'aria' %>

<div class="slider">
  <div><img src="<%= asset_path 'imgs_top/img_catalogo.jpg' %>" alt="Catálogo de Productos"></div>
</div>
<div class="content">
  <div class="content-info">
    <% @articles.each do |article| %>
      <section class="aria">
        <h1><%= article.title %></h1>
        <p><%= article.text.html_safe %></p>
        <a href="<%= article.link %>"><%= article.link_title %></a>
      </section>
    <% end %>
    <section class="aria" style="margin-top: -80px;">
      <a href="<%= works_page_path %>">Instalación y mantenimiento</a>
    </section>
    <div class="partner-bottom">
      <div class="partner"><img src="<%= asset_path 'partner/bgh.png' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/lg.png' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/samsung.png' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/siam.jpg' %>" alt=""></div>
      <div class="partner"><img src="<%= asset_path 'partner/noblex.png' %>" alt=""></div>
    </div>
    <%= render 'partials/social_media' %>
  </div>
</div>