<div style="margin-bottom:20px;">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="<%= 'active' if @kind == :regular %>">
      <a href="<%= contacts_path %>">Contactos</a>
    </li>
    <li role="presentation" class="<%= 'active' if @kind == :support %>">
      <a href="<%= contacts_path(:support) %>">Soporte</a>
    </li>
    <li role="presentation" class="<%= 'active' if @kind == :newsletter %>">
      <a href="<%= contacts_path(:newsletter) %>">Newsletter</a>
    </li>
  </ul>
</div>