<% content_for :panel_subtitle, 'Contactos' %>

<% content_for :extra_js do %>
  Contacts.index();
<% end %>

<div class="btn-group pull-right btn-group-xs" style="margin-top: -30px;">
  <%= link_to 'javascript:void(0);', class: 'btn btn-default resource-checkbox tooltip-trigger', title: 'Seleccionar todos' do %>
    <label class="checkbox-inline">
      <input type="checkbox" name="select_all" data-target=".checkbox-target">
    </label>
  <% end %>
  <%= link_to contacts_path, title: 'Marcar como leídos', class: 'btn btn-primary tooltip-trigger', disabled: true, data: { util: 'updateMany', ids: '.checkbox-target', hash: { contact: { read: 1 } } } do %>
    <i class="updating fa fa-spinner fa-pulse fa-fw"></i>
    <i class="updated fa fa-bookmark fa-fw" aria-hidden="true"></i>
  <% end %>
  <%= link_to contacts_path, title: 'Marcar como no leídos', class: 'btn btn-primary tooltip-trigger', disabled: true, data: { util: 'updateMany', ids: '.checkbox-target', hash: { contact: { read: 0 } } } do %>
    <i class="updating fa fa-spinner fa-pulse fa-fw"></i>
    <i class="updated fa fa-bookmark-o fa-fw" aria-hidden="true"></i>
  <% end %>
  <%= link_to contacts_path, title: 'Borrar seleccionados', class: 'btn btn-danger tooltip-trigger', disabled: true, data: { util: 'deleteManyForm', target: '#destroy_all', ids: '.checkbox-target' } do %>
    <i class="updating fa fa-spinner fa-pulse fa-fw"></i>
    <i class="updated fa fa-trash fa-fw" aria-hidden="true"></i>
  <% end %>
</div>

<div class="hidden">
  <%= form_for contacts_path, html: { id: 'destroy_all' }, method: :delete, data: { confirm: '¿Seguro?' } {} %>
</div>

<%= render 'tabs' %>

<div class="filterable" id="filterable-contacts" style="padding-right:30px;">
  <%= form_tag contacts_path(@kind), method: :get do %>
    <div class="row">
      <%= button_tag 'Buscar', type: :submit, class: 'btn btn-xs btn-success' %>
      <div class="col-xs-5">
        <div class="field">
          <%= search_field_tag 'f[search]', filterable(:search), placeholder: 'Buscar' %>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="field">
          <%= select_tag 'f[order]', filterable_select(@contacts, :order), prompt: 'Ordenar', class: 'selectpicker' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% unless @contacts.present? %>
  No se econtraron contactos
<% else %>
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
      <tbody>
        <% @contacts.each do |contact| %>
          <tr class="<%= contact.read ? 'info' : 'success' %>" id="contact_<%= contact.id.to_s %>">
            <td>
              <label class="checkbox-inline" style="height:auto;">
                <input class="checkbox-target" type="checkbox" name="contact[ids][]" id="contact_id_<%= contact.id %>" value="<%= contact.id %>">
              </label>
            </td>
            <td><%= link_to contact.name, contact, style: 'color:inherit;' %></td>
            <td><%= link_to contact.email, contact, style: 'color:inherit;' %></td>
            <td><%= contact.created_at.strftime('%d-%m-%Y %H:%M') %></td>
            <td>
              <%= link_to contact, title: contact.read? ? 'Marcar como no leído' : 'Marcar como leído', class: 'tooltip-trigger link-primary contact-read-toggler', data: { util: 'update', hash: { contact: { read: contact.read? ? 0 : 1 } } } do %>
                <i class="updating fa fa-spinner fa-pulse fa-fw"></i>
                <i class="updated fa fa-fw fa-bookmark<%= contact.read? ? '' : '-o' %>" aria-hidden="true"></i>
              <% end %>
              <%= link_to contact, method: :delete, data: { confirm: '¿Seguro?' }, title: 'Eliminar', class: 'link-danger tooltip-trigger' do %>
                <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="will-paginate">
    <%= will_paginate @contacts, renderer: BootstrapPagination::Rails %>
  </div>
<% end %>