<% path_to_product = admin_signed_in? ? product_path(product.product) : 'javascript:void(0);' %>

<div class="display display-minimal <%= 'display-no-links' unless admin_signed_in? %>" id="product_<%= product.id %>">
	<div class="display-caption">
		<a class="display-thumb" href="<%= path_to_product %>" style="background-image:url(<%= asset_path product.cover :thumb %>)"></a>
		<div class="display-bottom-right">
			<h4 style="margin:0; text-align: right;">
				<span class="label label-success">
					<%= product.quantity %> x
					<%= product.price.to_s(:currency, unit: product.currency + " ", separator: ",", delimiter: ".") %>
				</span>
				<br>
				<span class="label label-warning" style="display: inline-block; margin-top: 8px;">
					<%= (product.price * product.quantity).to_s(:currency, unit: product.currency + " ", separator: ",", delimiter: ".") %>
				</span>
			</h4>
		</div>
		<div class="display-bottom">
			<span class="label label-primary"><%= product.category.title %></span>
			<span class="label label-warning">Código: <%= product.key_code %></span>
		</div>
		<div class="display-body">
			<h3 class="display-title"><%= link_to product.title, path_to_product %></h3>
			<h4 class="display-subtitle"><%= product.description %></h4>
		</div>
	</div>
</div>