<% content_for :extra_js do %>
  $('tbody tr').click(function(e) {
    e.preventDefault();
    window.location.href = $('#link_payment_' + $(this).data('id')).attr('href');
  });
  $('tbody a').click(function(e) {
    e.stopPropagation();
  });
  <% if admin_signed_in? %>
    $('#filterable-payments select').change(function() {
      $(this).closest('form').submit();
    });
  <% end %>
<% end %>

<% content_for :panel_subtitle, 'Tus Págos' %>

<%= render 'filterable', payments: @payments if admin_signed_in? %>

<% if @payments.blank? %>
  Aún no has generado págos
<% else %>
  <div class="table-responsive">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th></th>
          <% if admin_signed_in? %>
            <th>User</th>
          <% end %>
          <th>Estado</th>
          <% if false %>
            <th>Cuotas</th>
          <% end %>
          <th>Medio de pago</th>
          <th>Importe</th>
          <th>Fecha</th>
        </tr>
      </thead>

      <tbody>
        <% @payments.each do |payment| %>
          <tr style="cursor:pointer;" data-id="<%= payment.id %>" class="<%= { approved: 'success', in_process: 'info', rejected: 'danger' }[payment.status.try(:to_sym)] || 'danger' %>">
            <td>
              <%= link_to payment, id: 'link_payment_' + payment.id.to_s do %>
                <%= image_tag payment.payment_products.first.cover, style: 'height: 24px; width: auto; margin: -4px 0 -2px;' %>
              <% end %>
            </td>
            <% if admin_signed_in? %>
              <td><%= payment.user.name %></td>
            <% end %>
            <td><%= payment.friendly_status %></td>
            <% if false %>
              <td><%= payment.installments %></td>
            <% end %>
            <td><%= payment.payment_method_id.upcase rescue nil %></td>
            <td><b><%= payment.transaction_amount.to_s(:currency, unit: '$ ', separator: ",", delimiter: ".") %></b></td>
            <td><%= payment.created_at.strftime('%d/%m/%Y %H:%Mhs.') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
  <div class="will-paginate">
    <%= will_paginate @payments, renderer: BootstrapPagination::Rails %>
  </div>
<% end %>