<% content_for :panel_subtitle, 'Dirección de envío' %>

<div class="btn-group pull-right btn-group-xs" style="margin-top: -30px;">
  <%= link_to edit_address_path(@address), title: 'Editar', class: 'btn btn-warning tooltip-trigger' do %>
    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
  <% end %>
  <%= link_to addresses_path, title: 'Listado', class: 'btn btn-success tooltip-trigger' do %>
    <i class="fa fa-list fa-fw" aria-hidden="true"></i>
  <% end %>
</div>

<p>
  <strong>Dirección:</strong>
  <%= @address.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @address.fname + ' ' + @address.lname %>
</p>

<p>
  <strong>Compañía:</strong>
  <%= @address.company %>
</p>

<p>
  <strong>Código postal:</strong>
  <%= @address.zip_code %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @address.zone.title %>
</p>

<p>
  <strong>Teléfono celular:</strong>
  <%= number_to_phone @address.mobile %>
</p>