<% content_for :extra_js do %>
  $('form#new_admin').validate();
<% end %>

<% content_for :panel_subtitle, '¿Olvidaste tu password?' %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Mandar instrucciones para resetear password" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
