<li>
  <div class="caja-producto">
    <!--div class="cucarda"> <span class="triangulo"></span> <span class="txt">Nuevo</span> </div-->
    <div class="img-product">
    	<%= link_to product_page_path(product), title: product.title do %>
    		<img src="<%= product.image %>" alt="<%= product.title %>" title="<%= product.title %>">
  		<% end %>
    </div>
    <div class="producto-info">
      <div class="tipo-product"><%= product.description %></div>
      <div class="nombre-product">
      	<%= link_to product.title.upcase, product_page_path(product), title: product.title %>
      </div>
      <div class="precio-product">
      	<%= number_to_currency(product.price, unit: product.currency + " ", separator: ",", delimiter: ".") %>
      </div>
    </div>
  </div>
</li>