<li>
  <div class="caja-producto">
    <% if product.is_new? %>
      <div class="cucarda"> <span class="triangulo"></span> <span class="txt">Nuevo</span> </div>
    <% elsif product.is_offer? %>
      <div class="cucarda oferta"> <span class="triangulo"></span> <span class="txt">Oferta</span> </div>
    <% end %>
    <div class="img-product">
    	<%= link_to product_page_path(product), title: product.title do %>
    		<img src="<%= product.image :small %>" alt="<%= product.title %>" title="<%= product.title %>">
  		<% end %>
    </div>
    <div class="producto-info">
      <div class="tipo-product"><%= product.description %></div>
      <div class="nombre-product">
      	<%= link_to product.title.upcase, product_page_path(product), title: product.title %>
      </div>
      <div class="precio-product">
        <% if product.price.present? %>
        	<%= number_to_currency(product.price, unit: product.currency + " ", separator: ",", delimiter: ".") %>
        <% else %>
          Consultar
        <% end %>
      </div>
    </div>
  </div>
</li>