<% quantity = @cart[:items][product.id.to_s][:quantity].to_i %>
<% seconds = @cart[:items][product.id.to_s][:expires_in] %>
<% minutes = @cart[:items][product.id.to_s][:expires_in] / 60 %>
<% seconds -= minutes * 60 %>
<% seconds = '0' + seconds.to_s if seconds < 10 %>

<tr id="<%= "product-#{product.id}" %>">
	<td class="img-pruduct">
		<%= link_to product_page_path(product) do %>
			<%= image_tag product.image %>
		<% end %>
	</td>
  <td class="nombre-product">
  	<h3 class="product-name"><%= link_to product.title, product_page_path(product), style: 'color:inherit;' %></h3>
  	<div class="descripcion"><%= product.characteristics[0...200] %></div>
  	<% if false %>
	    <div class="compartir"> <a href="#" class="facebook"> Facebook </a> <a href="#" class="twitter"> Twitter </a> </div>
    <% end %>
  </td>
  <td class="precio-product"><%= number_to_currency(product.price, unit: product.currency + " ", separator: ",", delimiter: ".") %></td>
  <td class="cantidad-product">
  	<span class="menos">&#60;</span>
  	<input type="text" class="qty" id="quantity-<%= product.id %>" name="cantidad" value="<%= quantity %>" data-stock="<%= product.stock_available_to_user(current_user.id) %>" autocomplete="off">
  	<span class="mas">&#62;</span>
  </td>
  <td class="subtotal-product"><%= number_to_currency(product.price * quantity, unit: product.currency + " ", separator: ",", delimiter: ".") %></td>
  <td class="borrar-product">
  	<span class="removeFromCart">X</span>
  	<div class="cart-product-expiration">
	  	En carrito por:
	  	<span data-expires="<%= @cart[:items][product.id.to_s][:expires_in] %>"><%= minutes.to_s + ':' + seconds.to_s %></span>
	  	m.
	  </div>
  </td>
</tr>