<div class="filterable" id="filterable-products">
	<%= form_tag products_path, method: :get do %>
		<div class="hidden">
			<%= submit_tag %>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<div class="field">
					<%= search_field_tag 'filterable[search]', filterable(:search), placeholder: 'Buscar' %>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="row">
					<div class="col-xs-6">
						<div class="field">
							<%= hidden_field_tag 'filterable[range][price][scoped]', 0 %>
							<%= text_field_tag 'filterable[range][price][min]', filterable(:range, :price, :min), placeholder: '$ min', class: 'autonumeric-plain' %>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="field">
							<%= text_field_tag 'filterable[range][price][max]', filterable(:range, :price, :max), placeholder: '$ max', class: 'autonumeric-plain' %>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="field">
					<%= select_tag 'filterable[order]', filterable_select(products, :order), prompt: 'Ordenar', class: 'selectpicker' %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<div class="field">
					<%= select_tag 'filterable[scopes][status]', filterable_select(products, :scopes, :status), prompt: 'Status', class: 'selectpicker' %>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="field">
					<%= select_tag 'filterable[scopes][brand]', filterable_select(products, :scopes, :brand), prompt: 'Marca', class: 'selectpicker' %>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="field">
					<%= select_tag 'filterable[scopes][category]', filterable_select(products, :scopes, :category), prompt: 'Categoría', class: 'selectpicker' %>
				</div>
			</div>
		</div>
	<% end %>
</div>