<%= tinymce_init(200) %>

<% content_for :extra_js do %>
  Products.form();
<% end %>

<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> no permite guardar este producto:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden">
    <%= f.hidden_field :status %>
  </div>
  <div class="field">
    <%= f.label :title, 'Título <em>*</em>'.html_safe %><br>
    <%= f.text_field :title, minlength: 5, required: true, placeholder: 'Ej: Carrier Nexgen Ll F/c 5550 Cal.' %>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="field">
        <%= f.label :category_id, 'Categoría' %><br>
        <%= f.select :category_id, options_from_collection_for_select(Category.friendly.find('products').children, :id, :title, @product.category_id), {}, class: 'selectpicker' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="field">
        <%= f.label :description, 'Descripción corta' %><br>
        <%= f.text_field :description, maxlength: 20, placeholder: 'Ej: Aire acondicionado' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="field">
        <%= f.label :brand, 'Marca' %><br>
        <%= f.text_field :brand %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="field">
        <%= f.label :width_cm, 'Dimensiones' %><br>
        <div class="cols-6">
          <div>
            <%= f.text_field :width_cm, class: 'autonumeric' %>
          </div>
          <small style="text-align:center;line-height:34px;">x</small>
          <div>
            <%= f.text_field :height_cm, class: 'autonumeric' %>
          </div>
          <small style="text-align:center;line-height:34px;">x</small>
          <div>
            <%= f.text_field :depth_cm, class: 'autonumeric' %>
          </div>
          <small style="text-align:center;line-height:34px;">cm.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="field">
        <%= f.label :price, 'Precio <em>*</em>'.html_safe %><br>
        <%= f.select :currency, options_for_select(Product.currencies.keys, @product.currency), {}, class: 'selectpicker' %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="field">
        <%= f.label :currency, '&nbsp;'.html_safe %><br>
        <%= f.text_field :price, class: 'autonumeric-price', required: true %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="field">
        <%= f.label :stock %><br>
        <%= f.text_field :stock, class: 'autonumeric' %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="field">
        <%= f.label :key_code, 'Código de producto' %><br>
        <%= f.text_field :key_code %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= hidden_field 'product[update_tags]', true %>
    <%= label_tag 'product_tags', 'Tags' %>
    <%= select_tag 'product[tags]', options_from_collection_for_select(Tag.all, :name, :name, @product.tags.map(&:name)), class: 'selectpicker-search', multiple: true, title: 'Seleccioná tags para este producto' %>
    <%= text_field_tag 'new_tag', nil, class: 'add_option_to_select', data: { select: '#product_tags' }, placeholder: 'Crear Tag' %>
  </div>
  <div class="field">
    <%= f.label :external_link, 'Ficha oficial carrier (link)' %><br>
    <%= f.text_field :external_link %>
  </div>
  <div id="tinymce_tabs">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#characteristics_tab" aria-controls="characteristics_tab" role="tab" data-toggle="tab">Caracteristicas</a>
      </li>
      <li role="presentation">
        <a href="#data_sheet_tab" aria-controls="data_sheet_tab" role="tab" data-toggle="tab">Ficha técnica</a>
      </li>
      <li role="presentation">
        <a href="#information_tab" aria-controls="information_tab" role="tab" data-toggle="tab">Información adicional</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="characteristics_tab">
        <div class="field">
          <%= f.text_area :characteristics, rows: 4, minlength: 15, class: 'tinymce' %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="data_sheet_tab">
        <div class="field">
          <%= f.text_area :data_sheet, rows: 4, minlength: 15, class: 'tinymce' %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="information_tab">
        <div class="field">
          <%= f.text_area :information, rows: 4, minlength: 15, class: 'tinymce' %>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar Producto' %>
  </div>
<% end %>
