<footer>
  <div class="content-footer">
    <div class="secciones">
      <h2>Secciones</h2>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">La Empresa</a></li>
        <li><a href="#">Productos y Servicios</a></li>
        <li><a href="#">Clubs de Partners Aria </a></li>
        <li><a href="#">Noticias</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
    <div class="tags">
      <h2>Tags</h2>
      <ul>
        <li><a href="#">Aire acondicionado</a></li>
        <li><a href="#">Anafes</a></li>
        <li><a href="#">Carrier</a></li>
        <li><a href="#">Domec</a></li>
        <li><a href="#">Midea</a></li>
        <li><a href="#">Pisos</a></li>
        <li><a href="#">Calefón</a></li>
        <li><a href="#">Hornos</a></li>
        <li><a href="#">Campanas</a></li>
        <li><a href="#">Cintas</a></li>
        <li><a href="#">Aislantes</a></li>
      </ul>
    </div>
    <div class="newsletter">
      <h2>Newsletter</h2>
      <p>Mantente en contacto para recibir promociones exclusivas.</p>
      <div class="newsletter-input">
        <form action="news">
          <input type="email" placeholder="INSERTAR EMAIL" required>
          <input type="submit" name="Suscribir" title="Suscribir" value="SUSCRIBIR">
        </form>
      </div>
      <div class="tarjetas"> <span><img src="<%= asset_path 'tarjetas/visa.png' %>" alt="Visa"></span> <span><img src="<%= asset_path 'tarjetas/master.png' %>" alt="Master Card"></span> <span><img src="<%= asset_path 'tarjetas/maestro.png' %>" alt="Maestro"></span> <span><img src="<%= asset_path 'tarjetas/amex.png' %>" alt="Amex"></span> <span><img src="<%= asset_path 'tarjetas/paypal.png' %>" alt="Paypal"></span> </div>
    </div>
    <div class="contacto">
      <h2>Contacto</h2>
      <p>Av San Martín 1545, Adrogué - Buenos Aires</p>
      <div class="telefonos"> <span class="icono"></span> <span class="numeros">(+ 54 11) 4214.1345 <br>
        (+54 11) 15.3126.3521</span> </div>
      <div class="email"> <span class="icono"></span> <a href="mailto:info@ariaweb.com.ar">info@ariaweb.com.ar</a> </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="content-copy">
    <div class="copy-aria"> &copy; 2016 ARIA. Todos los derechos reservados </div>
    <div class="powered"> <span>Powered by </span> <a href="#" title="Vertigo Design"> <img src="<%= asset_path 'Vertigo_Design.png' %>" alt="Vertigo Design" title="Vertigo Design"> </a> </div>
    <div class="socialmedia">
      <ul>
        <li class="facebook"><a href="#" title="Facebook">Facebook</a></li>
        <li class="twitter"><a href="#" title="Twitter">Twitter</a></li>
        <li class="google"><a href="#" title="Google">Google</a></li>
        <li class="linkedin"><a href="#" title="Linkedin">Linkedin</a></li>
        <li class="youtube"><a href="#" title="Youtube">Youtube</a></li>
      </ul>
    </div>
  </div>
</div>