<footer>
  <div class="content-footer">
    <div class="secciones">
      <h2>Secciones</h2>
      <ul>
        <li><a href="<%= root_path %>">Home</a></li>
        <li><a href="<%= about_page_path %>">La Empresa</a></li>
        <li><a href="<%= products_page_path %>">Productos y Servicios</a></li>
        <li><a href="<%= partners_page_path %>">Clubs de Partners Aria </a></li>
        <li><a href="<%= news_page_path %>">Noticias</a></li>
        <li><a href="<%= contact_page_path %>">Contacto</a></li>
      </ul>
    </div>
    <div class="tags">
      <h2>Tags</h2>
      <ul>
        <% Tag.limit(10).order('RAND()').each do |tag| %>
          <li><a href="<%= tag_page_path(tag) %>"><%= tag.name %></a></li>
        <% end %>
      </ul>
    </div>
    <div class="newsletter">
      <h2>Newsletter</h2>
      <% unless user_signed_in? && Contact.newsletter.find_by(email: current_user.email).present? %>
        <% content_for :extra_js do %>
          $('#newsletter-form').validate();
        <% end %>
        <p>Mantente en contacto para recibir promociones exclusivas.</p>
        <div class="newsletter-input" style="position:relative;">
          <%= form_for Contact.new(email: user_signed_in? ? current_user.email : ''), html: {id: 'newsletter-form'} do |f| %>
            <%= hidden_field_tag :after_create_url, request.path %>
            <%= hidden_field_tag :after_create_notice, 'Gracias por suscribirte al newsletter de Aria' %>
            <%= f.hidden_field :kind, value: :newsletter %>
            <%= f.email_field :email, placeholder: 'INSERTAR EMAIL', required: true %>
            <%= f.submit 'SUSCRIBIR' %>
          <% end %>
        </div>
      <% else %>
        <p>Ya estás suscripto al newsletter</p>
      <% end %>
      <div class="tarjetas"> <span><img src="<%= asset_path 'tarjetas/visa.png' %>" alt="Visa"></span> <span><img src="<%= asset_path 'tarjetas/master.png' %>" alt="Master Card"></span> <span><img src="<%= asset_path 'tarjetas/maestro.png' %>" alt="Maestro"></span> <span><img src="<%= asset_path 'tarjetas/amex.png' %>" alt="Amex"></span> </div>
    </div>
    <div class="contacto">
      <h2>Contacto</h2>
      <p><%= @website.address %></p>
      <div class="telefonos">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span class="numeros"><%= @website.phone %></span>
      </div>
      <div class="telefonos">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        <span class="numeros"><%= @website.mobile %></span>
      </div>
      <div class="email"> <span class="icono"></span> <a href="mailto:<%= @website.email %>"><%= @website.email %></a> </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="content-copy">
    <div class="copy-aria"> &copy; 2016 ARIA. Todos los derechos reservados </div>
    <div class="powered"> <span>Powered by </span> <a href="#" title="Vertigo Design"> <img src="<%= asset_path 'Vertigo_Design.png' %>" alt="Vertigo Design" title="Vertigo Design"> </a> </div>
    <div class="socialmedia">
      <ul>
        <li class="facebook"><a href="<%= @website.facebook %>" title="Facebook">Facebook</a></li>
        <li class="twitter"><a href="<%= @website.twitter %>" title="Twitter">Twitter</a></li>
        <li class="google"><a href="<%= @website.google %>" title="Google">Google</a></li>
        <li class="linkedin"><a href="<%= @website.linkedin %>" title="Linkedin">Linkedin</a></li>
        <li class="youtube"><a href="<%= @website.youtube %>" title="Youtube">Youtube</a></li>
      </ul>
    </div>
  </div>
</div>