<header>
  <div class="content-header">
    <div class="info-top">
      <div class="socialmedia">
        <ul>
          <li class="facebook"><a href="<%= @website.facebook %>" title="Facebook">Facebook</a></li>
          <li class="twitter"><a href="<%= @website.twitter %>" title="Twitter">Twitter</a></li>
          <li class="google"><a href="<%= @website.google %>" title="Google">Google</a></li>
          <li class="linkedin"><a href="<%= @website.linkedin %>" title="Linkedin">Linkedin</a></li>
          <li class="youtube"><a href="<%= @website.youtube %>" title="Youtube">Youtube</a></li>
        </ul>
      </div>
      <div class="links-top">
        <ul>
          <li class="email"> <a href="mailto:<%= '@website.email' %>" title="Email"> <span></span><%= @website.email %></a> </li>
          <li class="whatsapp" title="Whatsapp"> <a href="tel:<%= @website.phone.gsub(/[^\d\+]/, '') %>"> <span></span><%= @website.phone %></a> </li>
        </ul>
      </div>
      <div class="top-right">
        <div class="usuarios">
          <% if user_signed_in? %>
            <a href="<%= profile_path %>" class="registro"><%= current_user.name %></a>
            <%= link_to 'Salir', destroy_user_session_path, method: :delete, class: 'ingrsar' %>
          <% elsif request.subdomain[/panel/] %>
            <% if admin_signed_in? %>
              <a href="<%= panel_path %>" class="registro"><%= current_admin.name %></a>
            <% else %>
              <a href="<%= panel_path %>" class="registro">Panel Terme</a>
            <% end %>
          <% else %>
            <a href="#modal-login" data-util="modal" class="ingrsar">Ingresar</a>
            <a href="#modal-signup" data-util="modal" class="registro">Registrarse</a>
          <% end %>
        </div>
        <div class="buscador">
          <div class="buscar_mobile"></div>
          <%= form_tag products_page_path, method: :get, class: 'busca_form' do %>
            <%= search_field_tag 'f[search]', filterable(:search), placeholder: 'Buscar', id: 'buscar', required: true %>
            <%= submit_tag 'Buscar', title: 'Buscar' %>
            <span class="borrar"></span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="info-head">
      <div class="logo"> <a href="<%= root_path %>" class="logo"> <img src="<%= asset_path 'Terme_logo.png' %>" alt="Terme" title="Terme"> </a> </div>
      <div class="navegacion">
        <div class="menu-mobile"></div>
        <nav>
          <ul class="level0">
            <li><a href="<%= root_path %>">home</a></li>
            <li><a href="<%= about_page_path %>">La Empresa</a></li>
            <li> <a href="<%= products_page_path %>">Productos</a>
              <ul class="level1">
                <% Category.friendly.find('products').children.each do |category| %>
                  <li><a href="<%= products_page_path category %>"><%= category.title %></a></li>
                <% end %>
              </ul>
            </li>
            <li> <a href="<%= services_page_path %>">Servicios</a>
              <ul class="level1">
                <% Article.services.order(position: :asc).each do |article| %>
                  <li> <a href="<%= service_page_path(article) %>"><%= article.title %></a></li>
                <% end %>
              </ul>
            </li>
            <li><a href="<%= news_page_path %>">Noticias</a></li>
            <li><a href="<%= contact_page_path %>">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>