<header>
  <div class="content-header">
    <div class="info-top">
      <div class="socialmedia">
        <ul>
          <li class="facebook"><a href="#" title="Facebook">Facebook</a></li>
          <li class="twitter"><a href="#" title="Twitter">Twitter</a></li>
          <li class="google"><a href="#" title="Google">Google</a></li>
          <li class="linkedin"><a href="#" title="Linkedin">Linkedin</a></li>
          <li class="youtube"><a href="#" title="Youtube">Youtube</a></li>
        </ul>
      </div>
      <div class="links-top">
        <ul>
          <li class="email"> <a href="mailto:info@ariaweb.com.ar" title="Email"> <span></span> info@ariaweb.com.ar </a> </li>
          <li class="whatsapp" title="Whatsapp"> <a href="tel:+541139698286"> <span></span> (+54 11) 3969.8286 </a> </li>
        </ul>
      </div>
      <div class="top-right">
        <div class="usuarios">
          <% if user_signed_in? %>
            <a href="<%= profile_path %>" class="registro"><%= current_user.name %></a>
            <%= link_to 'Salir', destroy_user_session_path, method: :delete, class: 'ingrsar' %>
          <% elsif request.subdomain[/panel/] %>
            <% if admin_signed_in? %>
              <a href="<%= panel_path %>" class="registro"><%= current_admin.name %></a>
            <% else %>
              <a href="<%= panel_path %>" class="registro">Panel Aria</a>
            <% end %>
          <% else %>
            <a href="<%= new_user_session_path %>" class="ingrsar">Ingresar</a>
            <a href="<%= new_user_registration_path %>" class="registro">Registrarse</a>
          <% end %>
        </div>
        <div class="menu-top"> <span class="icon">Menú Top</span>
          <ul class="topmenu">
            <li><a href="">Medios de Pago</a></li>
            <li><a href="">Legales</a></li>
          </ul>
        </div>
        <div class="buscador">
          <div class="buscar_mobile"></div>
          <form class="busca_form">
            <input id="buscar" type="search" placeholder="Buscar" required>
            <input type="submit" name="Buscar" title="buscar" value="buscar">
            <span class="borrar"></span>
          </form>
        </div>
      </div>
    </div>
    <div class="info-head">
      <div class="logo"> <a href="<%= root_path %>" class="logo"> <img src="<%= asset_path 'Aria_Logo.png' %>" alt="Aria" title="Aria"> </a> </div>
      <div class="navegacion">
        <div class="menu-mobile"></div>
        <nav>
          <ul class="level0">
            <li><a href="<%= root_path %>">home</a></li>
            <li><a href="<%= about_page_path %>">La Empresa</a></li>
            <li> <a href="">Productos y Servicios</a>
              <ul class="level1">
                <li> <a href="<%= products_page_path %>">Equipos</a>
                  <ul class="level2">
                    <% Category.friendly.find('products').children.each do |category| %>
                      <li><a href="<%= products_page_path category %>"><%= category.title %></a></li>
                    <% end %>
                  </ul>
                </li>
                <li> <a href="<%= engineering_page_path %>">Ingeniería en climatización</a></li>
                <li><a href="<%= instalation_page_path %>">Instalación y mantenimiento</a></li>
              </ul>
            </li>
            <li><a href="<%= partners_page_path %>">Clubs de Partners Aria</a></li>
            <li><a href="<%= news_page_path %>">Noticias</a></li>
            <li><a href="<%= contact_page_path %>">Contacto</a></li>
          </ul>
        </nav>
        <div class="carrito" title="Carrit Aria">
          <div class="cantidad cart_count">0</div>
        </div>
        <!-- Carrito Header -->
        <div class="header-cart">
          <div class="cerrar"> <span class="line1"></span> <span class="line2"></span> </div>
          <% if user_signed_in? %>
            <div class="user"><%= current_user.name %></div>
          <% else %>
            <div class="user">Invitado</div>
          <% end %>
          <div class="items">
            <div class="iconcart"></div>
            <div class="info-items">
              <span class="price cart_price">$0,00</span>
              <span class="canti"><i class="cart_count">0</i> items</span>
              </div>
            <div class="editar"> <a href="#"> <span class="icon"></span> <span class="edit">editar</span> </a> </div>
          </div>
          <div class="acciones">
            <div class="ver-carrito"> <a href="<%= cart_page_path %>"> ver carrito </a> </div>
            <div class="completar"> <a href="<%= checkout_page_path %>"> completar compra </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>