<header>
  <div class="content-header">
    <div class="info-top">
      <div class="socialmedia">
        <ul>
          <li class="facebook"><a href="#" title="Facebook">Facebook</a></li>
          <li class="twitter"><a href="#" title="Twitter">Twitter</a></li>
          <li class="google"><a href="#" title="Google">Google</a></li>
          <li class="linkedin"><a href="#" title="Linkedin">Linkedin</a></li>
          <li class="youtube"><a href="#" title="Youtube">Youtube</a></li>
        </ul>
      </div>
      <div class="links-top">
        <ul>
          <li class="email"> <a href="mailto:info@ariaweb.com.ar" title="Email"> <span></span> info@ariaweb.com.ar </a> </li>
          <li class="whatsapp" title="Whatsapp"> <a href="tel:+541139698286"> <span></span> (+54 11) 3969.8286 </a> </li>
        </ul>
      </div>
      <div class="top-right">
        <div class="usuarios"> <a href="" class="ingrsar">Ingresar</a> <a href="" class="registro">Registrarse</a> </div>
        <div class="menu-top"> <span class="icon">Menú Top</span>
          <ul class="topmenu">
            <li><a href="">Medios de Pago</a></li>
            <li><a href="">Legales</a></li>
          </ul>
        </div>
        <div class="buscador">
          <div class="buscar_mobile"></div>
          <form class="busca_form">
            <input id="buscar" type="search" placeholder="Buscar" required>
            <input type="submit" name="Buscar" title="buscar" value="buscar">
            <span class="borrar"></span>
          </form>
        </div>
      </div>
    </div>
    <div class="info-head">
      <div class="logo"> <a href="<%= root_path %>" class="logo"> <img src="<%= asset_path 'Aria_Logo.png' %>" alt="Aria" title="Aria"> </a> </div>
      <div class="navegacion">
        <div class="menu-mobile"></div>
        <nav>
          <ul class="level0">
            <li><a href="<%= root_path %>">home</a></li>
            <li><a href="<%= about_page_path %>">La Empresa</a></li>
            <li> <a href="<%= catalog_page_path %>">Productos y Servicios</a>
              <ul class="level1">
                <li> <a href="<%= catalog_page_path %>">item 1</a>
                  <ul class="level2">
                    <li><a href="<%= catalog_page_path %>">item1 - 2</a></li>
                    <li><a href="<%= catalog_page_path %>">item1 - 2</a></li>
                    <li><a href="<%= catalog_page_path %>">item1 - 2</a></li>
                  </ul>
                </li>
                <li> <a href="<%= catalog_page_path %>">item 2</a>
                  <ul class="level2">
                    <li><a href="<%= catalog_page_path %>">item2 - 2</a></li>
                    <li><a href="<%= catalog_page_path %>">item2 - 2</a></li>
                    <li><a href="<%= catalog_page_path %>">item2 - 2</a></li>
                  </ul>
                </li>
                <li><a href="<%= catalog_page_path %>">item 3</a></li>
              </ul>
            </li>
            <li><a href="<%= partners_page_path %>">Clubs de Partners Aria</a></li>
            <li><a href="<%= news_page_path %>">Noticias</a></li>
            <li><a href="<%= contact_page_path %>">Contacto</a></li>
          </ul>
        </nav>
        <div class="carrito" title="Carrit Aria">
          <div class="cantidad">32</div>
        </div>
        <!-- Carrito Header -->
        <div class="header-cart">
          <div class="cerrar"> <span class="line1"></span> <span class="line2"></span> </div>
          <div class="user"> Gonzalo García </div>
          <div class="items">
            <div class="iconcart"></div>
            <div class="info-items"> <span class="price">$1,459.50</span> <span class="canti">2 items</span> </div>
            <div class="editar"> <a href="#"> <span class="icon"></span> <span class="edit">editar</span> </a> </div>
          </div>
          <div class="acciones">
            <div class="ver-carrito"> <a href="<%= cart_page_path %>"> ver carrito </a> </div>
            <div class="completar"> <a href="<%= checkout_page_path %>"> completar compra </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>