<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head prefix="og: http://ogp.me/ns#">
	<%= render 'layouts/head' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= content_for :body_class %>">
	<%= render 'layouts/navigation' %>
	<%= yield %>
	<%= render 'layouts/footer' %>
	<%= render 'partials/user_modals' unless user_signed_in? %>
	<script>
		$(function() {
			AriaInit();
			<% if notice.present? %>
				Alerts.success('<%= notice.html_safe %>');
			<% end %>
			<% if alert.present? %>
				Alerts.danger('<%= alert.html_safe %>');
			<% end %>
			<%= content_for :extra_js %>
		});
	</script>
</body>
</html>
