<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head prefix="og: http://ogp.me/ns#">
	<%= render 'layouts/head' %>
	<%= stylesheet_link_tag    'application_panel', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application_panel', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="control-panel">
	<% if request.subdomain[/panel/] %>
		<%= render 'admins/navigation' %>
	<% else %>
		<%= render 'users/navigation' %>
	<% end %>
	<section class="page-top">
		<div class="logo">
			<a href="<%= request.subdomain[/panel/] ? home_path : root_path %>">
				<img src="<%= asset_path 'Terme_logo.png' %>" alt="Terme" title="Terme">
			</a>
		</div>
	</section>
	<div class="container <%= (controller_name != 'panel' ? controller_name : '' ) + ' ' + action_name %>">
		<% if admin_signed_in? %>
			<h1 class="text-center">
				<i class="fa fa-sliders fa-fh" aria-hidden="true"></i>
				Panel Terme
			</h1>
		<% elsif user_signed_in? %>
			<h1 class="text-center">
				<i class="fa fa-user fa-fh" aria-hidden="true"></i>
				<%= current_user.name %>
			</h1>
		<% end %>
		<% if admin_signed_in? || user_signed_in? %>
			<h5 class="text-center" style="margin-bottom:30px;">
				<% if content_for? :panel_subtitle %>
					<%= yield :panel_subtitle %>
				<% else %>
					&nbsp;
				<% end %>
			</h5>
			<section class="row">
				<div class="sass-col-left nav-xs" id="panel_navigation" data-util="class" data-remove="in" data-target="#panel_navigation">
					<%= content_for :panel_navigation %>
				</div>
				<div class="sass-col-right">
					<%= yield %>
				</div>
			</section>
		<% else %>
			<h2><%= content_for :panel_subtitle %></h2>
			<%= yield %>
		<% end %>
	</div>
	<script>
		$(function() {
			$('.tooltip-trigger').tooltip();
			<% if notice.present? %>
				Alerts.success('<%= notice.html_safe %>');
			<% end %>
			<% if alert.present? %>
				Alerts.danger('<%= alert.html_safe %>');
			<% end %>
			<%= content_for :extra_js %>
		});
	</script>
</body>
</html>
