<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head prefix="og: http://ogp.me/ns#">
	<%= render 'layouts/head' %>
	<%= stylesheet_link_tag    'application_panel', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application_panel', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="control-panel">
	<%= render 'users/navigation' %>
	<section class="page-top">
		<div class="logo">
			<a href="<%= request.subdomain[/panel/] ? home_path : root_path %>">
				<img src="<%= asset_path 'Aria_Logo.png' %>" alt="Aria" title="Aria">
			</a>
		</div>
	</section>
	<div class="container users <%= (controller_name != 'panel' ? controller_name : '' ) + ' ' + action_name %>">
		<% if user_signed_in? %>
			<h1 class="text-center">
				<i class="fa fa-user fa-fh" aria-hidden="true"></i>
				<%= current_user.name %>
			</h1>
			<h4 class="text-center" style="margin-bottom:30px;">
				<% if content_for? :profile_subtitle %>
					<%= yield :profile_subtitle %>
				<% else %>
					&nbsp;
				<% end %>
			</h4>
			<section class="row">
				<div class="col-sm-4 nav-xs" id="user_navigation" data-util="class" data-remove="in" data-target="#user_navigation">
					<%= content_for :profile_nav %>
				</div>
				<div class="col-sm-8">
					<%= yield %>
				</div>
			</section>
		<% else %>
			<h2><%= content_for :profile_subtitle %></h2>
			<%= yield %>
		<% end %>
	</div>
	<script>
		$(function() {
			<% if notice.present? %>
				Alerts.success('<%= notice %>');
			<% end %>
			<% if alert.present? %>
				Alerts.danger('<%= alert %>');
			<% end %>
			<%= content_for :extra_js %>
		});
	</script>
</body>
</html>
